@import "../../../../scss/variables";

.sub-items-wrapper {
  padding-left: 1rem;
}

.menu-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  border: 0;
  font-size: 1rem;
  color: $contentPrimary;
  margin-top: 1.75rem;
  padding: 0;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 800px) {
    margin-top: 1rem;
  }

  span {
    flex: 1;
    text-align: left;
  }

  .menu-dropdown-arrow {
    width: 1.25rem;
    height: 1.25rem;
    background: $greyPurple;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(0);
      transition: .3s all ease-in-out;
    }
  }

  &.expanded {

    .menu-dropdown-arrow {
      svg {
        transform: rotate(90deg);
        transition: .3s all ease-in-out;
      }
    }

  }
}

.side-nav-list-item {
  margin-top: 1.75rem;
  line-height: 1;
  display: block;
  text-decoration: none;
  color: $contentPrimary;

  @media (max-width: 800px) {
    margin-top: 1rem;
    margin-right: 2rem;
  }

  &.active {
    color: $contentLinkActive;
  }
}
