<button class="menu-dropdown" [class.expanded]="isExpanded" (click)="toggleMenu()">
  <span>{{ menuItemDisplayName }}</span>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.3335 6.66602L8.00016 9.99935L4.66683 6.66602" stroke="#22174A" stroke-width="1.5"
      stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</button>
<div class="sub-items-wrapper" *ngIf="isExpanded">
  <ng-container *ngFor="let menuItem of menuItems">
    <a *ngIf="!menuItem.children || !menuItem.children.length" class="side-nav-list-item" [routerLink]="menuItem.url"
      [routerLinkActive]="'active'">{{menuItem.name}}</a>
    <gc-dropdown-menu-item *ngIf="menuItem.children && menuItem.children.length" [activeUrl]="activeUrl"
      [menuItemName]="menuItem.name" [menuItems]="menuItem.children"></gc-dropdown-menu-item>
  </ng-container>
</div>