<button class="menu-dropdown" [class.expanded]="isExpanded" #menuDropdown>
    <span>{{ menuItemDisplayName }}</span>
    <div class="menu-dropdown-arrow">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1 9L5 5L1 1"
                stroke="#22174A"
                stroke-width="1.33333"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
</button>
<div class="sub-items-wrapper" *ngIf="isExpanded">
    <ng-container *ngFor="let menuItem of menuItems">
        <a
            *ngIf="!menuItem.children || !menuItem.children.length"
            class="side-nav-list-item"
            [routerLink]="menuItem.url"
            [routerLinkActive]="'active'"
            >{{ menuItem.name }}</a
        >
        <gc-dropdown-menu-item
            *ngIf="menuItem.children && menuItem.children.length"
            [activeUrl]="activeUrl"
            [menuItemName]="menuItem.name"
            [menuItems]="menuItem.children"
        ></gc-dropdown-menu-item>
    </ng-container>
</div>
