@import "../../../scss/variables";

:host {
  display: block;
  width: 16.5rem;
  background-color: $lightGreyBG;
  height: calc(100vh - 4.5rem);
  padding: 2rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.category-image {
  width: 24px;
  height: 24px;
}

.side-nav-title {
  padding: 0.75rem 0 1.5rem;
  border-bottom: 1px solid $borderLine;
}

.side-nav-list {
  &-item {
    margin-top: 2rem;
    line-height: 1;
    display: block;
    text-decoration: none;
    color: $contentPrimary;

    &.active {
      color: $contentLinkActive;
    }
  }
}
