@import "../../../scss/variables";

:host {
  display: block;
  position: sticky;
  top: 72px;
  width: 16.5rem;
  height: calc(100vh - 72px);
  overflow: auto;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 800px) {
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 75%;
    background-color: transparent;
    top: 0;
    transform: translateX(-100%);
    transition: .5s all ease-in-out;
    overflow: unset;

    &.expanded {
      transform: translateX(0);
      transition: .5s all ease-in-out;
    }
  }
}

.side-nav-header {
  padding: 2rem 1rem 1.5rem 1.5rem;

  @media (max-width: 800px) {
    display: none;
  }
}


.category-image {
  width: 24px;
  height: 24px;

  @media (max-width: 800px) {
    display: none;
  }
}

.side-nav-title {
  margin-top: .75rem;

  @media (max-width: 800px) {
    display: none;
  }
}

.side-nav-list {
  background-color: $sidebarPurple;
  padding: 1rem 1.5rem;
  border-radius: 0 .75rem .75rem 0;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    min-height: 100vh;
  }

  .side-nav-list-top {
    display: none;
    background: #FFFFFF;
    border-bottom: 1px solid #EAE9EC;
    justify-content: flex-end;
    padding: 1.25rem;

    @media (max-width: 800px) {
      display: flex;
    }
  }

  .side-nav-list-middle {
    @media (max-width: 800px) {
      padding: 1.5rem;
      height: calc(100vh - 15.9rem);
      overflow-y: auto;
    }
  }

  .sign-in {
    display: inline-block;
    padding: .6rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    background-color: #ff5913;
    font-weight: 600;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
  }

  .side-nav-list-button {
    margin-bottom: .75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .side-nav-list-bottom {
    display: none;
    background: #FFFFFF;
    border-top: 1px solid #EAE9EC;
    padding: 1.5rem;
    flex-direction: column;

    ::ng-deep {
      .redirect-link {
        font-size: 1rem;
        width: auto;
      }
    }

    @media (max-width: 800px) {
      display: block;
      margin-top: auto;
    }
  }

  &-item {
    margin-top: 1.75rem;
    line-height: 1;
    display: block;
    text-decoration: none;
    color: $contentPrimary;

    &:nth-child(1) {
      margin-top: 0;
    }

    @media (max-width: 800px) {
      margin-top: 1rem;
      margin-right: 2rem;
    }

    &.active {
      color: $contentLinkActive;
    }
  }
}
