@import "../../../scss/variables";

:host {
  display: block;
  width: 16.5rem;
  background-color: $lightGreyBG;
  height: calc(100vh - 72px);
  padding: 2rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 800px) {
    height: auto;
    width: 100%;
    overflow: auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
    background-color: transparent;
  }
}

.category-image {
  width: 24px;
  height: 24px;

  @media (max-width: 800px) {
    display: none;
  }
}

.side-nav-title {
  padding: 0.75rem 0 1.5rem;
  border-bottom: 1px solid $borderLine;

  @media (max-width: 800px) {
    display: none;
  }
}

.side-nav-list {
  @media (max-width: 800px) {
    display: flex;
  }

  &-item {
    margin-top: 2rem;
    line-height: 1;
    display: block;
    text-decoration: none;
    color: $contentPrimary;

    @media (max-width: 800px) {
      margin-top: 0;
      margin-right: 2rem;
      white-space: nowrap;
    }

    &.active {
      color: $contentLinkActive;
    }
  }
}
