<div class="side-nav-header">
    <img
        class="category-image"
        src="{{ '../../../assets/' + (activeMenuItem?.url || 'cdn-dns') + '.svg' }}"
        alt="{{ activeMenuItem?.name }}"
    />
    <div class="side-nav-title">
        {{ activeMenuItem?.name }}
    </div>
</div>
<div class="side-nav-list">
    <div class="side-nav-list-top">
        <div class="side-nav-list-close" (click)="toggleMenu($event)">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_507_7602)">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.4133 10.0002L17.7063 3.70725C18.0973 3.31625 18.0973 2.68425 17.7063 2.29325C17.3153 1.90225 16.6833 1.90225 16.2923 2.29325L9.99927 8.58625L3.70627 2.29325C3.31527 1.90225 2.68327 1.90225 2.29227 2.29325C1.90127 2.68425 1.90127 3.31625 2.29227 3.70725L8.58527 10.0002L2.29227 16.2933C1.90127 16.6842 1.90127 17.3162 2.29227 17.7072C2.48727 17.9022 2.74327 18.0002 2.99927 18.0002C3.25527 18.0002 3.51127 17.9022 3.70627 17.7072L9.99927 11.4143L16.2923 17.7072C16.4873 17.9022 16.7433 18.0002 16.9993 18.0002C17.2553 18.0002 17.5113 17.9022 17.7063 17.7072C18.0973 17.3162 18.0973 16.6842 17.7063 16.2933L11.4133 10.0002Z"
                        fill="#767283"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_507_7602">
                        <rect width="20" height="20" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
    <div class="side-nav-list-middle">
        <ng-container *ngFor="let menuItem of menuItems">
            <a
                *ngIf="!menuItem.children || !menuItem.children.length"
                class="side-nav-list-item"
                [routerLink]="menuItem.url"
                [routerLinkActive]="'active'"
                >{{ menuItem.name }}</a
            >
            <gc-dropdown-menu-item
                *ngIf="menuItem.children && menuItem.children.length"
                [activeUrl]="activeUrl"
                [menuItemName]="menuItem.name"
                [menuItems]="menuItem.children"
            ></gc-dropdown-menu-item>
        </ng-container>
    </div>
    <div class="side-nav-list-bottom">
        <gc-redirect-link-button
            class="side-nav-list-button"
            [variant]="'white'"
            [label]="'Support'"
            [href]="'https://gcore.com/support/'"
        ></gc-redirect-link-button>
        <gc-redirect-link-button
            class="side-nav-list-button"
            [variant]="'white'"
            [label]="'API'"
            [href]="'https://apidocs.gcorelabs.com'"
        >
        </gc-redirect-link-button>
        <a class="sign-in side-nav-list-button" [href]="'https://auth.gcore.com/login/signin'" target="_blank"
            >Sign in</a
        >
    </div>
</div>
