@import '../../../scss/variables';

.gc-alert-element {
    max-width: 45.125rem;
    padding: 1.5rem;
    font-size: 0.94rem;
    font-weight: 500;
    border-radius: 0.5rem;

    &-wrapper {
        max-width: 100%;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0.25rem;
        }
    }

    ::ng-deep {
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
            font-size: 0.94rem;
            font-weight: 600;
            margin: 0 0 0 2rem;
            vertical-align: middle;
        }

        p {
            margin: 0.25rem 0 1.5rem 2rem;
        }

        a {
            margin-left: 2rem;
            color: $contentPrimary;
            font-weight: 600;
            text-decoration: underline;
        }

        a + a {
            margin-left: 1rem;
        }
    }

    &-info {
        background-color: $grey-100;
    }

    &-tip {
        background-color: $green-light;
    }

    &-warning {
        background-color: $cloudAlert;
        svg {
            circle,
            path {
                stroke: #a89834;
            }
        }
    }

    &-caution {
        background-color: $red-alert;
    }
}
