<div
    class="gc-alert-element"
    [ngClass]="{
        'gc-alert-element-info': type === 'info',
        'gc-alert-element-tip': type === 'tip',
        'gc-alert-element-warning': type === 'warning',
        'gc-alert-element-caution': type === 'caution'
    }"
>
    <div class="gc-alert-element-wrapper">
        <svg-icon [src]="'assets/' + svgNames[type] + '.svg'"></svg-icon>
        <span class="gc-alert-element-title">{{ title }}</span>
        <ng-content></ng-content>
    </div>
</div>
