@import '../../../scss/variables';

.gc-alert-element {
    max-width: 45.125rem;
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem 1.5rem 3.625rem;
    font-size: 0.94rem;
    line-height: 1.5rem;
    font-weight: 500;
    border-radius: 1rem;

    &-wrapper {
        max-width: 100%;
        position: relative;

        svg {
            position: absolute;
            left: -2rem;
            top: -0.25rem;
        }
    }

    &-title {
        display: block;
        font-size: 0.94rem;
        line-height: 1.125rem;
        margin: 0.25rem 0;
        font-weight: 600;
        vertical-align: middle;
    }

    ::ng-deep {
        p {
            margin: 0;
            font-size: 0.94rem;
        }

        a {
            display: inline-block;
            color: $contentPrimary;
            font-weight: 600;
            text-decoration: underline;
            margin-top: 1.5rem;
        }

        a + a {
            margin-left: 1rem;
        }
    }

    &-info {
        background-color: $grey-100;
    }

    &-tip {
        background-color: $green-light;
    }

    &-warning {
        background-color: $cloudAlert;
        svg {
            circle,
            path {
                stroke: #a89834;
            }
        }
    }

    &-caution {
        background-color: $red-alert;
    }
}
