@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family-body-custom: "Montserrat";
  --font-family-headings-custom: "Montserrat";
  --font-jetbrains-mono: "Fira Code";
}

.relative.mt-8.prose.prose-gray a {
  color: #ff4c00;
}

/* Danger admonition coloring */

.danger-admonition {
  border: 1px solid rgba(239, 68, 68, 0.2);
  background-color: rgba(254, 242, 242, 0.5);
}

.dark\:danger-admonition:is(.dark *) {
  border-color: rgba(239, 68, 68, 0.3);
  background-color: rgba(239, 68, 68, 0.1);
}

.tabs {
  border: 1px solid rgb(var(--gray-200));
}

.tabs ul.not-prose.mb-6 li button {
  padding: 12px 12px 10px;
}

.tabs div.prose.overflow-x-auto {
  padding: 0 12px 12px;
}

.homepage_wrapper {
  width: 75%;
  max-width: 1440px;
  margin: 50px auto;
  padding: 0 26px;
}

.gcore_hero {
  margin-bottom: 64px;
}

.gcore-title {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0;
  line-height: 105%;
  letter-spacing: -1px;
}
