<ng-container>
    <div class="gc-disclaimer" [class.reseller-support-page]="isResellerSupportPage || isWaapPage || isWebSecurity">
        The Gcore Customer Portal is being updated. Screenshots may not show the current version.
    </div>
    <div class="gc-disclaimer" *ngIf="isWebSecurity">
        Gcore Web Application Security product, along with Basic WAF and Bot protection, are soon to be deprecated.
        Instead, we'll be introducing a new and improved
        <a href="https://gcore.com/web-app-and-api-protection">Web Application & API Protection</a>.
    </div>
</ng-container>
