@import '../../../scss/variables';

:host {
    position: sticky;
    top: 75px;
    z-index: 10;
    width: 100%;

    @media (max-width: 800px) {
        top: 72px;
    }
}

.gc-disclaimer {
    background-color: $cloudAlert;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.25px;
    padding: 1.25rem 1.5rem;
    text-align: center;
}
