.side-nav {
  width: 280px;
  height: 100vh;
  overflow-y: auto;

  .nav-link {
    color: #fff;

    &:hover,
    &:active {
      color: #ddd;
    }
  }
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;

  .navbar-brand {
    width: calc(280px - 1rem);
  }
}
