@import "../../../scss/variables";

:host {
  display: flex;
  align-items: center;
  min-height: 4.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(113.42deg, #22174a 0.05%, #232432 106.1%);
  padding: 0 1.5rem;
}

.logo {
  img {
    width: 16rem;
  }
}

.header-button {
  margin-left: auto;

  & + .header-button {
    margin-left: 0.5rem;
  }
}

.sign-in {
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 6px;
  background-color: $contentLink;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;

  &:hover {
    background-color: $contentLinkHover;
  }
  &:active {
    background-color: $contentLinkActive;
  }
}

.search-box {
  flex: 1;
  max-width: 28rem;
}

.home-page-link {
  padding: 0.25rem 1.5rem;
  margin: 0 2rem;
  border-left: 1px solid $secondaryContrast;
  border-right: 1px solid $secondaryContrast;

  &:hover {
    svg > path {
      stroke: $secondaryContrastHover;
    }
  }

  &:active {
    svg > path {
      stroke: $secondaryContrast;
    }
  }
}
