<ng-container>
    <gcore-modal
        [minPaddings]="false"
        [size]="'medium'"
        [isOpen]="isLoginModalOpen"
        (isOpenChange)="toggleLoginModal(false)"
    >
        <gcore-modal-login (closeModalEvent)="toggleLoginModal(false)"></gcore-modal-login>
    </gcore-modal>
</ng-container>
<a [routerLink]="'/'" class="logo">
    <img src="{{ baseHref + 'assets/logo.svg' }}" alt="Gcore Docs" />
</a>
<a class="home-page-link" [href]="'https://gcore.com'">
    <svg width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M33.3333 31.3333V17.6667C33.3333 17.0372 33.0369 16.4444 32.5333 16.0667L21.2 7.56667C20.4889 7.03333 19.5111 7.03333 18.8 7.56667L7.46666 16.0667C6.96305 16.4444 6.66666 17.0372 6.66666 17.6667V31.3333C6.66666 32.4379 7.56209 33.3333 8.66666 33.3333H14.6667C15.7712 33.3333 16.6667 32.4379 16.6667 31.3333V27C16.6667 25.8954 17.5621 25 18.6667 25H21.3333C22.4379 25 23.3333 25.8954 23.3333 27V31.3333C23.3333 32.4379 24.2288 33.3333 25.3333 33.3333H31.3333C32.4379 33.3333 33.3333 32.4379 33.3333 31.3333Z"
            stroke="#ffffff"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</a>
<a class="gc-search-button-mobile" routerLink="search"
    ><svg class="search-icon" width="24" height="24" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M33.3333 33.3333L26.5829 26.5829M26.5829 26.5829C28.6942 24.4717 30 21.555 30 18.3333C30 11.89 24.7767 6.66667 18.3333 6.66667C11.89 6.66667 6.66667 11.89 6.66667 18.3333C6.66667 24.7767 11.89 30 18.3333 30C21.555 30 24.4717 28.6942 26.5829 26.5829Z"
            stroke="#ffffff"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
        /></svg
></a>
<button (click)="toggleMenu($event)" class="menu-button">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7 12H33M7 20H33M7 28H33"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</button>
<div class="header-actions">
    <gc-search-box class="search-box" [(ngModel)]="searchKey" (search)="search()"></gc-search-box>
    <gc-redirect-link-button
        class="header-button"
        variant="contrast-secondary"
        [label]="'API'"
        [href]="'https://api.gcore.com/docs'"
    ></gc-redirect-link-button>
    <button (click)="toggleLoginModal(true)" *ngIf="!isHosting" class="button button_primary header-button">
        Sign in
    </button>
    <a
        class="button button_primary header-button"
        *ngIf="isHosting"
        [href]="'https://hosting.gcore.com/billmgr?func=logon&lang=en'"
        target="_blank"
        >Sign in</a
    >
</div>
