@import '../../../scss/variables';

:host {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.875rem;
}

.bread-crumb-separator {
    display: block;
    margin: 0 0.5rem;
    color: $contentDisabled;
}

.bread-crumb-item {
    color: $mutedPurple;
    white-space: nowrap;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;

    &-last {
        color: $contentSecondary;
    }

    &:hover {
        color: $contentSecondaryHover;
    }

    &:active {
        color: $contentSecondaryActive;
    }
}
