@import "../../../scss/variables";

:host {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.bread-crumb-separator {
  display: block;
  margin: 0 0.5rem;
  color: $contentDisabled;
}

.bread-crumb-item {
  color: $contentSecondary;
  text-decoration: none;

  &-last {
    color: $contentSecondary;
  }

  &:hover {
    color: $contentSecondaryHover;
  }

  &:active {
    color: $contentSecondaryActive;
  }
}
