openapi: 3.1.0
info:
  title: Gcore OpenAPI – CDN Reseller API
  version: '2026-06-02T13:07:47.238598+00:00'
  description: This OpenAPI is an aggregated OpenAPI specification that unifies all Gcore products into a single file. It covers Cloud, CDN, DNS, WAAP, DDoS Protection, Object Storage, Streaming, and FastEdge services.
servers:
- url: https://api.gcore.com
tags:
- name: Account
  description: Information about CDN product settings in your account.
- name: CDN service
  description: Information about the current state of CDN service in your account.
- name: Features
  description: Information about free and paid features available for you account.
- name: Balancer
  description: |-
    Balancer allows choosing CDN server locations that will be used for content delivery.

    To activate balancer, [set client’s balancer settings](/docs/api-reference/cdn-resellers/balancer/set-client-balancer-settings).
- name: CDN activity logs
  description: |-
    Get the history of users requests to CDN.
    It contains requests made both via the API and via the control panel.

    The following methods are not tracked in the activity logs:
    - HEAD
    - OPTIONS
- name: Logs uploader
  description: Manage logs uploader configs for reseller accounts.
- name: Statistics
  description: Statistics CDN usage and paid features usage.
- name: Origin shielding
  description: |-
    Origin shielding helps protect your origin server from being overloaded with requests from multiple CDN servers.
    The option accumulates all CDN server requests at a special server called a shield or precache server.

    When shielding is enabled, only one precache server communicates with the origin host, not the entire CDN.
paths:
  /cdn/resellers/me:
    get:
      operationId: get-account-settings
      tags:
      - Account
      summary: Get account settings
      description: Get information about CDN product settings in your account.
      responses:
        '200':
          $ref: '#/components/responses/ResellersMe'
    put:
      operationId: change-account-settings
      tags:
      - Account
      summary: Change account settings
      description: Change the CDN service settings in your account.
      requestBody:
        $ref: '#/components/requestBodies/ChangeResellersAccountDetails'
      responses:
        '200':
          $ref: '#/components/responses/ResellersMe'
        '400':
          $ref: '#/components/responses/ChangeResellersAccountDetailsFailed'
  /cdn/resellers/me/limits:
    get:
      operationId: get-account-default-limits
      tags:
      - Account
      summary: Get account default limits
      description: Get the effective default quota limits applied to new clients created under this reseller.
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerDefaultLimitsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/clients:
    get:
      operationId: get-cdn-service
      tags:
      - CDN service
      summary: Get CDN service
      description: Get information about CDN services of all clients accounts.
      responses:
        '200':
          $ref: '#/components/responses/AccountsList'
  /cdn/clients/{client_id}:
    get:
      operationId: get-cdn-service-details
      tags:
      - CDN service
      summary: Get CDN service details
      description: Get information about CDN service of the specific client account.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          $ref: '#/components/responses/AccountDetails'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: change-cdn-service-details
      tags:
      - CDN service
      summary: Change CDN service details
      description: Change CDN service details of the specific client account.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      requestBody:
        $ref: '#/components/requestBodies/ChangeAccountDetails'
      responses:
        '200':
          $ref: '#/components/responses/AccountDetails'
        '400':
          $ref: '#/components/responses/ChangeAccountDetailsFailed'
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/clients/{client_id}/service:
    get:
      operationId: get-cdn-service-status-details
      tags:
      - CDN service
      summary: Get CDN service status details
      description: Get information about CDN service status of the specific client account.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          $ref: '#/components/responses/ServiceDetails'
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/clients/{client_id}/features:
    get:
      operationId: get-cdn-features-details
      tags:
      - CDN service
      summary: Get CDN features details
      description: Get information about CDN features available in the specific client account.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          $ref: '#/components/responses/Features'
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/clients/{client_id}/limits:
    get:
      operationId: get-cdn-limits-details
      tags:
      - CDN service
      summary: Get CDN limits details
      description: Get information about CDN limits for the specific client account.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientsMeLimitsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/admin/feature:
    get:
      operationId: get-features-list
      tags:
      - Features
      summary: Get features list
      description: Get information about all available features that you can manage.
      responses:
        '200':
          $ref: '#/components/responses/FeaturesList'
  /cdn/admin/feature/{feature_id}:
    get:
      operationId: get-feature-details
      tags:
      - Features
      summary: Get feature details
      description: Get information about the feature details.
      parameters:
      - $ref: '#/components/parameters/path_feature_id'
      responses:
        '200':
          $ref: '#/components/responses/FeaturesDetail'
        '404':
          $ref: '#/components/responses/FeatureNotFound'
  /cdn/admin/paid_features:
    get:
      operationId: get-paid-features-list
      tags:
      - Features
      summary: Get paid features list
      description: Get information about all paid features activated for the clients.
      responses:
        '200':
          $ref: '#/components/responses/PaidFeaturesList'
    post:
      operationId: enable-paid-feature
      tags:
      - Features
      summary: Enable paid feature
      description: Enable information about the paid feature for a specific client.
      requestBody:
        $ref: '#/components/requestBodies/PaidFeaturesCreate'
      responses:
        '201':
          $ref: '#/components/responses/PaidFeaturesCreated'
        '400':
          $ref: '#/components/responses/FeatureValidationError'
  /cdn/admin/paid_features/{paid_feature_id}:
    get:
      operationId: get-paid-feature-details
      tags:
      - Features
      summary: Get paid feature details
      description: Get details of the activated paid feature.
      parameters:
      - $ref: '#/components/parameters/path_paid_feature_id'
      responses:
        '200':
          $ref: '#/components/responses/PaidFeaturesDetail'
        '404':
          $ref: '#/components/responses/PaidFeatureNotFound'
    delete:
      operationId: disable-paid-feature
      tags:
      - Features
      summary: Disable paid feature
      description: Disable the paid feature for a specific client.
      parameters:
      - $ref: '#/components/parameters/path_paid_feature_id'
      responses:
        '204':
          description: Successful.
        '404':
          $ref: '#/components/responses/PaidFeatureNotFound'
  /cdn/admin/free_features:
    get:
      operationId: get-free-features-list
      tags:
      - Features
      summary: Get free features list
      description: Get information about all free features activated for the clients.
      responses:
        '200':
          $ref: '#/components/responses/FreeFeaturesList'
    post:
      operationId: enable-free-feature
      tags:
      - Features
      summary: Enable free feature
      description: Enable the free feature for a specific client.
      requestBody:
        $ref: '#/components/requestBodies/PaidFeaturesCreate'
      responses:
        '201':
          $ref: '#/components/responses/FreeFeaturesCreated'
        '400':
          $ref: '#/components/responses/FeatureValidationError'
  /cdn/admin/free_features/{free_feature_id}:
    get:
      operationId: get-free-feature-details
      tags:
      - Features
      summary: Get free feature details
      description: Get information about the details of the activated free feature.
      parameters:
      - $ref: '#/components/parameters/path_free_feature_id'
      responses:
        '200':
          $ref: '#/components/responses/FreeFeaturesDetail'
        '404':
          $ref: '#/components/responses/FreeFeatureNotFound'
    delete:
      operationId: disable-free-feature
      tags:
      - Features
      summary: Disable free feature
      description: Disable the free feature for a specific client.
      parameters:
      - $ref: '#/components/parameters/path_free_feature_id'
      responses:
        '204':
          description: Successful.
        '404':
          $ref: '#/components/responses/FreeFeatureNotFound'
  /cdn/admin/billing_regions:
    get:
      operationId: get-client-content-delivery-regions-list
      tags:
      - Balancer
      summary: Get client content delivery regions list
      description: Get information about all regions that might be used for content delivery for a specific client.
      parameters:
      - $ref: '#/components/parameters/query_client_id'
      responses:
        '200':
          $ref: '#/components/responses/BillingRegionsList'
        '400':
          $ref: '#/components/responses/NotFound'
  /cdn/admin/clients:
    get:
      operationId: get-clients-using-balancer
      tags:
      - Balancer
      summary: Get clients using balancer
      description: Get IDs of clients that use the load balancer.
      responses:
        '200':
          $ref: '#/components/responses/ClientsThatUseBalancer'
  /cdn/admin/clients/{client_id}:
    get:
      operationId: get-client-balancer-settings
      tags:
      - Balancer
      summary: Get client balancer settings
      description: Get information about all regions used for content delivery for a specific client.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          $ref: '#/components/responses/ClientBalancerSettingsDetails'
        '404':
          $ref: '#/components/responses/UnableReceiveSettings'
    post:
      operationId: set-client-balancer-settings
      tags:
      - Balancer
      summary: Set client balancer settings
      description: Set regions that will be used for content delivery for a specific client.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      requestBody:
        $ref: '#/components/requestBodies/SetClientsBalancerSettings'
      responses:
        '204':
          description: Successful.
        '400':
          $ref: '#/components/responses/RegionNotFound'
        '409':
          $ref: '#/components/responses/RegionIsAbsent'
    delete:
      operationId: delete-client-balancer-settings
      tags:
      - Balancer
      summary: Delete client balancer settings
      description: Delete balancer settings for a specific client. Balancer will be deactivated.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '204':
          description: Successful.
        '404':
          $ref: '#/components/responses/NotFound'
  /cdn/admin/default_region:
    get:
      operationId: get-client-default-location-handler
      tags:
      - Balancer
      summary: Get client default location handler
      description: |-
        Get the default location handler that is used to redirect traffic from locations that are not used in content delivery and
        to deliver content when the user region has not been defined.
      parameters:
      - $ref: '#/components/parameters/query_client_id_required'
      responses:
        '200':
          $ref: '#/components/responses/DefaultLocationHandler'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: set-client-default-location-handler
      tags:
      - Balancer
      summary: Set client default location handler
      description: |-
        Set the default location handler that will be used to redirect traffic from locations not used in content
        delivery and to deliver content when the user's region has not been defined.

        The location must be included in the list of regions used for content delivery.
      requestBody:
        $ref: '#/components/requestBodies/SetDefaultHandler'
      responses:
        '204':
          description: Successful.
        '400':
          $ref: '#/components/responses/DefaultHandlerError'
  /cdn/activity_log/requests:
    get:
      operationId: get-activity-logs
      tags:
      - CDN activity logs
      summary: Get CDN activity logs
      description: Get information about all CDN activity logs records.
      parameters:
      - $ref: '#/components/parameters/path'
      - $ref: '#/components/parameters/user_id'
      - $ref: '#/components/parameters/token_id'
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/method'
      - $ref: '#/components/parameters/min_requested_at'
      - $ref: '#/components/parameters/max_requested_at'
      - $ref: '#/components/parameters/remote_ip_address'
      - $ref: '#/components/parameters/status_code'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/List'
        '401':
          description: Authentication credentials were not provided or the given token is not valid for any token type.
  /cdn/activity_log/requests/{log_id}:
    get:
      operationId: get-activity-logs-details
      tags:
      - CDN activity logs
      summary: Get CDN activity logs details
      description: Get information about CDN activity logs record.
      parameters:
      - $ref: '#/components/parameters/ID'
      responses:
        '200':
          $ref: '#/components/responses/Details'
        '401':
          description: Authentication credentials were not provided or the given token is not valid for any token type.
        '404':
          description: Activity logs record is not found.
  /cdn/logs_uploader/configs:
    get:
      operationId: reseller-get-configs-list
      tags:
      - Logs uploader
      summary: Get configs list
      description: |-
        Get list of logs uploader configs.

        Reseller configs have two additional scoping fields not present in the
        client-level API:

        - `for_all_clients` — apply the config to every sub-client under the reseller
        (does not match resources owned directly by the reseller's own tech-client).
        - `clients` — apply the config to a specific list of sub-client IDs.

        `for_all_clients` (sub-clients only) and `for_all_resources` (tech-client only)
        cover orthogonal scopes and can be combined. Only `for_all_clients` ↔ `clients`
        and `for_all_resources` ↔ `resources` are mutually exclusive.

        For **policies**, **targets**, **regions**, and all other Logs uploader
        endpoints shared with clients, refer to the
        [client-level Logs uploader documentation](/docs/api-reference/cdn/logs-uploader).
      parameters:
      - in: query
        name: search
        schema:
          type: string
        description: Search by config name or id.
      - in: query
        name: resource_ids
        schema:
          type: array
          items:
            type: integer
        description: Filter by ids of CDN resources that are assigned to given config.
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerLogsUploaderConfigListResponse'
        '403':
          description: Feature is disabled for your account.
    post:
      operationId: reseller-create-config
      tags:
      - Logs uploader
      summary: Create config
      description: |-
        Create logs uploader config.

        Reseller configs support additional scoping fields (`for_all_clients`, `clients`).
        `for_all_clients` covers all sub-clients only; `for_all_resources` covers the
        reseller's own tech-client only. The two flags can be combined to cover both.
        Only `for_all_clients` ↔ `clients` and `for_all_resources` ↔ `resources` are
        mutually exclusive.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResellerLogsUploaderConfig'
      responses:
        '201':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerLogsUploaderConfigResponse'
        '400':
          description: You will receive an error with the invalid parameter mentioned.
        '403':
          description: Feature is disabled for your account.
  /cdn/logs_uploader/configs/{id}:
    get:
      operationId: reseller-get-config-details
      tags:
      - Logs uploader
      summary: Get config details
      description: Get information about logs uploader config.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerLogsUploaderConfigResponse'
        '403':
          description: Feature is disabled for your account.
        '404':
          description: Logs uploader config does not exist or has been deleted.
    put:
      operationId: reseller-change-config
      tags:
      - Logs uploader
      summary: Change config
      description: Change logs uploader config.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResellerLogsUploaderConfig'
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerLogsUploaderConfigResponse'
        '400':
          description: You will receive an error with the invalid parameter mentioned.
        '403':
          description: Feature is disabled for your account.
        '404':
          description: Logs uploader config does not exist or has been deleted.
    patch:
      operationId: reseller-patch-config
      tags:
      - Logs uploader
      summary: Change config
      description: Change logs uploader config partially.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchResellerLogsUploaderConfig'
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResellerLogsUploaderConfigResponse'
        '400':
          description: You will receive an error with the invalid parameter mentioned.
        '403':
          description: Feature is disabled for your account.
        '404':
          description: Logs uploader config does not exist or has been deleted.
    delete:
      operationId: reseller-delete-config
      tags:
      - Logs uploader
      summary: Delete config
      description: |-
        Delete the logs uploader config from the system permanently.

        Notes:
        - **Irreversibility**: This action is irreversible. Once deleted, the logs uploader config cannot be recovered.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Successful.
        '403':
          description: Feature is disabled for your account.
        '404':
          description: Logs uploader config does not exist or has been deleted.
  /cdn/statistics/series:
    get:
      operationId: cdn-resource-statistics
      tags:
      - Statistics
      summary: CDN resource statistics
      description: Get information about CDN resource statistics for up to 365 days starting today.
      parameters:
      - $ref: '#/components/parameters/query_statistics_Service'
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_Granularity'
      - $ref: '#/components/parameters/query_statistics_MetricsSeries'
      - $ref: '#/components/parameters/query_statistics_GroupByTraffic'
      - $ref: '#/components/parameters/query_statistics_Countries'
      - $ref: '#/components/parameters/query_statistics_Regions'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsTrafficSeries'
        '204':
          description: There is no data for the requested time period.
  /cdn/statistics/aggregate/stats:
    get:
      operationId: aggregated-statistics
      tags:
      - Statistics
      summary: Aggregated statistics
      description: |-
        Get information about monthly CDN traffic data.

        Request URL parameters should be added as a query string after the endpoint.
      parameters:
      - $ref: '#/components/parameters/query_statistics_Service'
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_Granularity'
      - $ref: '#/components/parameters/query_statistics_MetricsAggregated'
      - $ref: '#/components/parameters/query_statistics_GroupByTraffic'
      - $ref: '#/components/parameters/query_statistics_Countries'
      - $ref: '#/components/parameters/query_statistics_Regions'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsTrafficAggregated'
        '204':
          description: There is no data for the requested time period.
  /cdn/statistics/shield_usage/series:
    get:
      operationId: origin-shielding-usage-statistics
      tags:
      - Statistics
      summary: Origin shielding usage statistics
      description: |-
        Get information about the origin shielding usage statistics for up to 365 days starting today.

        Request URL parameters should be added as a query string after the endpoint.
      parameters:
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsPaidFeaturesSeries'
        '204':
          description: There is no data for the requested time period.
  /cdn/statistics/shield_usage/aggregated:
    get:
      operationId: aggregated-origin-shielding-usage-statistics
      tags:
      - Statistics
      summary: Aggregated origin shielding usage statistics
      description: |-
        Get the number of CDN resources that used origin shielding.

        Request URL parameters should be added as a query string after the endpoint.
      parameters:
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_GroupByPaidFeatures'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      - $ref: '#/components/parameters/query_statistics_Flat'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsPaidFeaturesAggregatedShieldUsage'
        '204':
          description: There is no data for the requested time period.
  /cdn/statistics/raw_logs_usage/series:
    get:
      operationId: raw-logs-usage-statistics
      tags:
      - Statistics
      summary: Logs uploader usage statistics
      description: |-
        Get information about Logs uploader usage statistics for up to 90 days starting today.

        Request URL parameters should be added as a query string after the endpoint.
      parameters:
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsPaidFeaturesSeries'
        '204':
          description: No data for the requested time period.
  /cdn/statistics/raw_logs_usage/aggregated:
    get:
      operationId: aggregated-raw-logs-usage-statistics
      tags:
      - Statistics
      summary: Aggregated Logs uploader usage statistics
      description: |-
        Get the number of CDN resources that used Logs uploader.

        Request URL parameters should be added as a query string after the endpoint.
      parameters:
      - $ref: '#/components/parameters/query_statistics_From'
      - $ref: '#/components/parameters/query_statistics_To'
      - $ref: '#/components/parameters/query_statistics_GroupByPaidFeatures'
      - $ref: '#/components/parameters/query_statistics_Resource'
      - $ref: '#/components/parameters/query_statistics_Client'
      - $ref: '#/components/parameters/query_statistics_Flat'
      responses:
        '200':
          $ref: '#/components/responses/StatisticsPaidFeaturesAggregatedRawLogsUsage'
        '204':
          description: There is no data for the requested time period.
  /cdn/clients/{client_id}/disabled_shield_locations_v2:
    get:
      operationId: get-information-about-disabled-origin-shielding-locations
      tags:
      - Origin shielding
      summary: Get information about disabled origin shielding locations
      description: Get information about origin shielding locations disabled for a specific client.
      parameters:
      - $ref: '#/components/parameters/path_client_id'
      responses:
        '200':
          $ref: '#/components/responses/DisabledShieldLocations'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    AccountDetails:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountDetails'
          examples:
            default:
              $ref: '#/components/examples/AccountDetails'
    AccountsList:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountsList'
          examples:
            default:
              $ref: '#/components/examples/AccountsList'
    BillingRegionsList:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BillingRegionsList'
          examples:
            default:
              $ref: '#/components/examples/BillingRegionsList'
    ChangeAccountDetailsFailed:
      description: Invalid value of "utilization_level" parameter is provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChangeAccountDetailsFailed'
    ChangeResellersAccountDetailsFailed:
      description: Invalid value of "default_enabled_features" parameter is provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateResellerMeDetailsFailed'
    ClientBalancerSettingsDetails:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClientSettingsDetails'
          examples:
            default:
              $ref: '#/components/examples/ClientSettingsDetails'
    ClientsThatUseBalancer:
      description: Successful.
      content:
        application/json:
          schema:
            type: array
            items:
              type: integer
          example:
          - 1
          - 2
          - 3
    DefaultHandlerError:
      description: Failed to set client default location handler.
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/UnacceptableHandler'
            - $ref: '#/components/schemas/ClientForDefaultHandlerNotFound'
    DefaultLocationHandler:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DefaultLocationHandler'
          examples:
            default:
              $ref: '#/components/examples/DefaultLocationHandler'
    Details:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ActivityLogsDetails'
          example:
            id: 1
            user_id: 174
            token_id: 3
            client_id: 174
            requested_at: '2021-07-07T09:02:29.871030Z'
            path: /resources/1/purge
            remote_ip_address: 1.2.3.4
            host: api.gcore.com
            method: POST
            query_params: '{}'
            data:
              paths:
              - /url-path-1
              - /url-path-2
            status_code: 201
            actions: []
    DisabledShieldLocations:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DisabledShieldLocations'
    FeatureNotFound:
      description: Feature is not found.
    FeatureValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: object
                properties:
                  client_id:
                    type: array
                    items:
                      type: string
                    description: List of errors for specified client ID.
                    example:
                    - Client with id:1 does not exists.
                  feature_id:
                    type: array
                    items:
                      type: string
                    description: List of errors for specified feature ID.
                    example:
                    - Feature with id:1 does not exists.
    Features:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Features'
          examples:
            default:
              $ref: '#/components/examples/Features'
    FeaturesDetail:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeaturesDetail'
          examples:
            default:
              $ref: '#/components/examples/FeaturesDetail'
    FeaturesList:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeaturesList'
          examples:
            default:
              $ref: '#/components/examples/FeaturesList'
    FreeFeatureNotFound:
      description: Free feature is not found.
    FreeFeaturesCreated:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesDetail'
          examples:
            default:
              $ref: '#/components/examples/FreeFeaturesDetail'
    FreeFeaturesDetail:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesDetail'
          examples:
            default:
              $ref: '#/components/examples/FreeFeaturesDetail'
    FreeFeaturesList:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesList'
          examples:
            default:
              $ref: '#/components/examples/FreeFeaturesList'
    List:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ActivityLogsPaginatedList'
          example:
            count: 1
            next: https://api.gcore.com/cdn/activity_log/requests?offset=20&limit=10
            previous: https://api.gcore.com/cdn/activity_log/requests?offset=10&limit=10
            results:
            - id: 1
              user_id: 174
              token_id: 3
              client_id: 174
              requested_at: '2021-07-07T09:02:29.871030Z'
              path: /resources/1/purge
              remote_ip_address: 1.2.3.4
              host: api.gcore.com
              method: POST
              query_params: '{}'
              data:
                paths:
                - /url-path-1
                - /url-path-2
              status_code: 201
              actions: []
    NotFound:
      description: The client is not found.
    PaidFeatureNotFound:
      description: Paid feature is not found.
    PaidFeaturesCreated:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesDetail'
          examples:
            default:
              $ref: '#/components/examples/PaidFeaturesDetail'
    PaidFeaturesDetail:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesDetail'
          examples:
            default:
              $ref: '#/components/examples/PaidFeaturesDetail'
    PaidFeaturesList:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesList'
          examples:
            default:
              $ref: '#/components/examples/PaidFeaturesList'
    RegionIsAbsent:
      description: Some required billing regions are missing.
    RegionNotFound:
      description: Region is not found in regions list.
    ResellersMe:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResellersMe'
          examples:
            default:
              $ref: '#/components/examples/ResellersMe'
    ServiceDetails:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/body_response_client_Service'
          examples:
            default:
              $ref: '#/components/examples/ServiceDetails'
    StatisticsPaidFeaturesAggregatedRawLogsUsage:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatisticsPaidFeaturesAggregatedRawLogsUsage'
          examples:
            default:
              $ref: '#/components/examples/StatisticsPaidFeaturesAggregatedRawLogsUsage'
    StatisticsPaidFeaturesAggregatedShieldUsage:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatisticsPaidFeaturesAggregatedShieldUsage'
          examples:
            default:
              $ref: '#/components/examples/StatisticsPaidFeaturesAggregatedShieldUsage'
    StatisticsPaidFeaturesSeries:
      description: Successful.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/StatisticsPaidFeaturesSeries'
          examples:
            default:
              $ref: '#/components/examples/StatisticsPaidFeaturesSeries'
    StatisticsTrafficAggregated:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatisticsTrafficAggregated'
          examples:
            default:
              $ref: '#/components/examples/StatisticsTrafficAggregated'
    StatisticsTrafficSeries:
      description: Successful.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatisticsTrafficSeries'
          examples:
            default:
              $ref: '#/components/examples/StatisticsTrafficSeries'
    UnableReceiveSettings:
      description: Failed to get client balancer settings.
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/NoSuchClientID'
            - $ref: '#/components/schemas/ClientNotFound'
  requestBodies:
    ChangeAccountDetails:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChangeAccountDetails'
          example:
            utilization_level: 500
    ChangeResellersAccountDetails:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateResellerMeDetails'
          example:
            default_enabled_features:
            - 2
            - 3
    PaidFeaturesCreate:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaidFeaturesCreate'
          examples:
            default:
              $ref: '#/components/examples/PaidFeaturesCreateRequest'
    SetClientsBalancerSettings:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SetClientsBalancerSettings'
          examples:
            default:
              $ref: '#/components/examples/ClientSettingsDetails'
    SetDefaultHandler:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SetDefaultHandler'
          examples:
            default:
              $ref: '#/components/examples/DefaultHandler'
  schemas:
    AccountDetails:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        created:
          allOf:
          - $ref: '#/components/schemas/body_response_client_Created'
        updated:
          allOf:
          - $ref: '#/components/schemas/body_response_client_Updated'
        service:
          allOf:
          - $ref: '#/components/schemas/body_response_client_Service'
        utilization_level:
          allOf:
          - $ref: '#/components/schemas/body_response_client_UtilizationLevel'
        cname:
          allOf:
          - $ref: '#/components/schemas/body_response_client_Cname'
        use_balancer:
          allOf:
          - $ref: '#/components/schemas/body_response_client_UseBalancer'
        auto_suspend_enabled:
          allOf:
          - $ref: '#/components/schemas/body_response_client_AutoSuspendEnabled'
    AccountsList:
      type: array
      items:
        $ref: '#/components/schemas/AccountDetails'
    ActionType:
      type: string
      description: |-
        Type of change.

        Possible values:
        - **D** - Object is deleted.
        - **C** - Object is created.
        - **U** - Object is updated.
    Actions:
      type: array
      description: State of a requested object before and after the request.
      items:
        type: object
        properties:
          action_type:
            $ref: '#/components/schemas/ActionType'
          state_before_request:
            $ref: '#/components/schemas/StateBeforeRequest'
          state_after_request:
            $ref: '#/components/schemas/StateAfterRequest'
    ActivityLogsDetails:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ID'
        user_id:
          $ref: '#/components/schemas/UserID'
        token_id:
          $ref: '#/components/schemas/TokenID'
        client_id:
          $ref: '#/components/schemas/ClientID'
        requested_at:
          $ref: '#/components/schemas/RequestedAt'
        path:
          $ref: '#/components/schemas/Path'
        remote_ip_address:
          $ref: '#/components/schemas/RemoteIPAddress'
        host:
          $ref: '#/components/schemas/Host'
        method:
          $ref: '#/components/schemas/Method'
        query_params:
          $ref: '#/components/schemas/QueryParams'
        data:
          $ref: '#/components/schemas/Data'
        status_code:
          $ref: '#/components/schemas/StatusCode'
        actions:
          $ref: '#/components/schemas/Actions'
    ActivityLogsPaginatedList:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/Count'
        next:
          $ref: '#/components/schemas/Next'
        previous:
          $ref: '#/components/schemas/Previous'
        results:
          $ref: '#/components/schemas/Results'
    BillingRegionDetails:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_ID'
        name:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_Name'
        created_at:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_CreatedAt'
        changed_at:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_ChangedAt'
        description:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_Description'
        required:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_Required'
        visible:
          type: boolean
          description: Parameter is **legacy**.
        localization:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_billing_regions_Localization'
    BillingRegionsList:
      type: array
      items:
        $ref: '#/components/schemas/BillingRegionDetails'
    ChangeAccountDetails:
      type: object
      properties:
        utilization_level:
          allOf:
          - $ref: '#/components/schemas/body_request_clients_UtilizationLevel'
    ChangeAccountDetailsFailed:
      description: Invalid value of "utilization_level" parameter is provided.
      type: object
      properties:
        errors:
          type: object
          properties:
            utilization_level:
              type: array
              description: The specified limit has an unacceptable value. The value must be greater than or equal to 0.
              items:
                type: string
              example:
              - Ensure this value is greater than or equal to 0.
    ClientForDefaultHandlerNotFound:
      description: Client with the specified account ID is not found.
      type: object
      properties:
        errors:
          type: object
          properties:
            client_id:
              type: array
              items:
                type: string
              description: Client with the specified account ID is not found.
              example:
              - Client with ID 174 not found.
    ClientFreeFeatures:
      type: object
      properties:
        feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_features_ID'
        name:
          allOf:
          - $ref: '#/components/schemas/body_response_features_Name'
        free_feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_ID'
        create_date:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_CreateDate'
    ClientID:
      type: integer
      description: ID of the client who made the request.
    ClientNotFound:
      description: Client with the specified account ID is not found.
      type: object
      properties:
        error:
          description: Client with the specified account ID is not found.
      example: {}
    ClientPaidFeatures:
      type: object
      properties:
        feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_features_ID'
        name:
          allOf:
          - $ref: '#/components/schemas/body_response_features_Name'
        paid_feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_ID'
        create_date:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_CreateDate'
    ClientSettingsDetails:
      type: object
      properties:
        is_in:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_regions_settings_IsIn'
        region_list:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_regions_settings_RegionList'
    ClientsMeLimitsResponse:
      type: object
      properties:
        id:
          type: integer
          description: Account ID.
          example: 100
        resources_limit:
          type: integer
          description: Maximum number of CDN resources that can be created on your tariff plan.
          example: 30
        rules_limit:
          type: integer
          description: Maximum number of rules that can be created per CDN resource on your tariff plan.
          example: 5
        origins_in_group_limit:
          type: integer
          description: Maximum number of origins that can be added to the origin group on your tariff plan.
          example: 10
        secondary_hostnames_limit:
          type: integer
          description: Maximum number of secondary hostnames (additional CNAMEs) per CDN resource.
          example: 10
        purge_pattern_limit:
          type: integer
          description: Maximum number of patterns per purge request.
          example: 50
        purge_max_urls_limit:
          type: integer
          description: Maximum number of URLs per purge-by-URL request.
          example: 100
        purge_request_limit:
          type: string
          description: Rate limit for purge-by-pattern requests.
          example: 1/m
        purge_by_urls_request_limit:
          type: string
          description: Rate limit for purge-by-URL requests.
          example: 2/m
        prefetch_pattern_limit:
          type: integer
          description: Maximum number of patterns per prefetch request.
          example: 100
        prefetch_request_limit:
          type: string
          description: Rate limit for prefetch requests.
          example: 2/m
    Count:
      type: integer
      description: Total number of activity logs records.
    CreateLogsUploaderConfig:
      properties:
        enabled:
          type: boolean
          description: Enables or disables the config.
          default: true
        name:
          type: string
          description: Name of the config.
        policy:
          type: integer
          description: ID of the policy that should be assigned to given config.
        target:
          type: integer
          description: ID of the target to which logs should be uploaded.
        for_all_resources:
          type: boolean
          description: |-
            If set to true, the config will be applied to all CDN resources.
            If set to false, the config will be applied to the resources specified in the `resources` field.
          default: false
        resources:
          type: array
          items:
            type: integer
          description: List of resource IDs to which the config should be applied.
      required:
      - name
      - policy
      - target
    CreateResellerLogsUploaderConfig:
      allOf:
      - $ref: '#/components/schemas/CreateLogsUploaderConfig'
      - $ref: '#/components/schemas/ResellerLogsUploaderScopingFieldsWrite'
    Data:
      type: object
      description: Request body.
    DefaultLocationHandler:
      type: object
      properties:
        current_handler:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_default_handler_CurrentHandler'
        possible_handlers:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_default_handler_PossibleHandlers'
    DisabledShieldLocations:
      type: object
      properties:
        disabled_shield_locations_v2:
          allOf:
          - $ref: '#/components/schemas/body_response_client_DisabledShieldLocationsV2'
    Features:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        paid_features:
          type: array
          description: Paid features available for the account.
          items:
            $ref: '#/components/schemas/ClientPaidFeatures'
        free_features:
          type: array
          description: Free features available for the specified account.
          items:
            $ref: '#/components/schemas/ClientFreeFeatures'
    FeaturesDetail:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_features_ID'
        name:
          allOf:
          - $ref: '#/components/schemas/body_response_features_Name'
        service:
          type: string
          description: Parameter is **legacy**.
        is_free:
          allOf:
          - $ref: '#/components/schemas/body_response_features_IsFree'
    FeaturesList:
      type: array
      items:
        $ref: '#/components/schemas/FeaturesDetail'
    Host:
      type: string
      description: Host from which the request was made.
    ID:
      type: integer
      description: Activity logs record ID.
    LogsUploaderConfigResponse:
      properties:
        id:
          type: integer
          readOnly: true
        client_id:
          type: integer
          description: Client that owns the config.
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
          description: Time when the config was created.
        updated:
          type: string
          format: date-time
          readOnly: true
          description: Time when the config was updated.
        enabled:
          type: boolean
          description: Enables or disables the config.
        name:
          type: string
          description: Name of the config.
        policy:
          type: integer
          description: ID of the policy that should be assigned to given config.
        target:
          type: integer
          description: ID of the target to which logs should be uploaded.
        for_all_resources:
          type: boolean
          description: |-
            If set to true, the config will be applied to all CDN resources.
            If set to false, the config will be applied to the resources specified in the `resources` field.
        resources:
          type: array
          items:
            type: integer
          description: List of resource IDs to which the config should be applied.
        status:
          allOf:
          - $ref: '#/components/schemas/LogsUploaderValidationResponse'
          - type: object
            description: Validation status of the logs uploader config.
    LogsUploaderValidationResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - in_progress
          - successful
          - failed
          description: Status of the validation.
        code:
          type: integer
          description: Error code indicating the type of validation error.
        updated:
          type: string
          format: date-time
          description: Time when the validation status was updated.
        details:
          type: string
          description: Error message if the validation failed.
    Method:
      type: string
      description: Request HTTP method.
    Next:
      type: string
      description: URL to the next activity logs records slice.
    NoSuchClientID:
      description: Balancer has not been activated for the client and the client does not have balancer settings.
      type: object
      properties:
        error:
          type: string
          description: |-
            Balancer has not been activated for the client and the client does not have balancer settings.

            To activate balancer, [set client’s balancer settings](/docs/api-reference/cdn-resellers/balancer/set-client-balancer-settings).
          example: No such client_id
    PaidFeaturesCreate:
      type: object
      properties:
        client_id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_features_ID'
      required:
      - client_id
      - feature_id
    PaidFeaturesDetail:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_ID'
        client_id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        feature:
          allOf:
          - $ref: '#/components/schemas/FeaturesDetail'
        feature_id:
          allOf:
          - $ref: '#/components/schemas/body_response_features_ID'
        create_date:
          allOf:
          - $ref: '#/components/schemas/body_response_paid_features_CreateDate'
    PaidFeaturesList:
      type: array
      items:
        $ref: '#/components/schemas/PaidFeaturesDetail'
    PatchLogsUploaderConfig:
      properties:
        enabled:
          type: boolean
          description: Enables or disables the config.
        name:
          type: string
          description: Name of the config.
        policy:
          type: integer
          description: ID of the policy that should be assigned to given config.
        target:
          type: integer
          description: ID of the target to which logs should be uploaded.
        for_all_resources:
          type: boolean
          description: |-
            If set to true, the config will be applied to all CDN resources.
            If set to false, the config will be applied to the resources specified in the `resources` field.
        resources:
          type: array
          items:
            type: integer
          description: List of resource IDs to which the config should be applied.
    PatchResellerLogsUploaderConfig:
      allOf:
      - $ref: '#/components/schemas/PatchLogsUploaderConfig'
      - $ref: '#/components/schemas/ResellerLogsUploaderScopingFields'
    Path:
      type: string
      description: Request URL.
    Previous:
      type: string
      description: URL to the previous activity logs records slice.
    QueryParams:
      type: string
      description: Request parameters.
    RemoteIPAddress:
      type: string
      description: IP address from which the request was made.
    RequestedAt:
      type: string
      description: Date and time when the request was made.
    ResellerDefaultLimitsResponse:
      type: object
      required:
      - resources_limit
      - rules_limit
      - origins_in_group_limit
      - secondary_hostnames_limit
      - logs_uploader_configs_limit
      - logs_uploader_policies_limit
      - logs_uploader_targets_limit
      - purge_pattern_limit
      - purge_max_urls_limit
      - purge_request_limit
      - purge_by_urls_request_limit
      - prefetch_pattern_limit
      - prefetch_request_limit
      properties:
        resources_limit:
          type: integer
          description: Maximum number of CDN resources that can be created by reseller's clients.
          example: 30
        rules_limit:
          type: integer
          description: Maximum number of rules that can be created per CDN resource by reseller's clients.
          example: 5
        origins_in_group_limit:
          type: integer
          description: Maximum number of origins that can be added to the origin group by reseller's clients.
          example: 10
        secondary_hostnames_limit:
          type: integer
          description: Maximum number of secondary hostnames (additional CNAMEs) per CDN resource for reseller's clients.
          example: 10
        logs_uploader_configs_limit:
          type: integer
          description: Maximum number of log shipping configurations per client.
          example: 10
        logs_uploader_policies_limit:
          type: integer
          description: Maximum number of log shipping policies per client.
          example: 10
        logs_uploader_targets_limit:
          type: integer
          description: Maximum number of log shipping targets per client.
          example: 10
        purge_pattern_limit:
          type: integer
          description: Maximum number of patterns per purge request for reseller's clients.
          example: 50
        purge_max_urls_limit:
          type: integer
          description: Maximum number of URLs per purge-by-URL request for reseller's clients.
          example: 100
        purge_request_limit:
          type: string
          description: Rate limit for purge-by-pattern requests for reseller's clients.
          example: 1/m
        purge_by_urls_request_limit:
          type: string
          description: Rate limit for purge-by-URL requests for reseller's clients.
          example: 2/m
        prefetch_pattern_limit:
          type: integer
          description: Maximum number of patterns per prefetch request for reseller's clients.
          example: 100
        prefetch_request_limit:
          type: string
          description: Rate limit for prefetch requests for reseller's clients.
          example: 2/m
    ResellerLogsUploaderConfigListResponse:
      type: array
      items:
        $ref: '#/components/schemas/ResellerLogsUploaderConfigResponse'
    ResellerLogsUploaderConfigResponse:
      allOf:
      - $ref: '#/components/schemas/LogsUploaderConfigResponse'
      - $ref: '#/components/schemas/ResellerLogsUploaderScopingFields'
    ResellerLogsUploaderScopingFields:
      description: |-
        Reseller-specific scoping fields. `for_all_clients` (sub-clients only) and
        `for_all_resources` (tech-client only) cover orthogonal scopes and can be
        combined. Only `for_all_clients` ↔ `clients` and `for_all_resources` ↔ `resources`
        are mutually exclusive.
      type: object
      properties:
        for_all_clients:
          type: boolean
          description: |-
            If set to true, the config will be applied to all resources of every
            sub-client under the reseller. Resources owned directly by the reseller's
            own tech-client are not matched — use `for_all_resources` (additionally or
            instead) to cover the tech-client's resources.
            Mutually exclusive with `clients`.
        clients:
          type: array
          items:
            type: integer
          description: |-
            List of sub-client IDs to which the config should be applied.
            Mutually exclusive with `for_all_clients`.
    ResellerLogsUploaderScopingFieldsWrite:
      allOf:
      - $ref: '#/components/schemas/ResellerLogsUploaderScopingFields'
      - type: object
        properties:
          for_all_clients:
            default: false
    ResellersMe:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_reseller_ID'
        available_features:
          allOf:
          - $ref: '#/components/schemas/body_response_reseller_AvailableFeatures'
        default_enabled_features:
          allOf:
          - $ref: '#/components/schemas/body_response_reseller_DefaultEnabledFeatures'
    Results:
      type: array
      items:
        $ref: '#/components/schemas/ActivityLogsDetails'
      description: Activity logs records.
    SetClientsBalancerSettings:
      type: object
      properties:
        is_in:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_regions_settings_IsIn'
        region_list:
          allOf:
          - $ref: '#/components/schemas/body_response_balancer_regions_settings_RegionList'
      required:
      - is_in
      - region_list
    SetDefaultHandler:
      type: object
      properties:
        client_id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        name:
          allOf:
          - $ref: '#/components/schemas/body_request_balancer_DefaultNameHandler'
      required:
      - client_id
      - name
    StateAfterRequest:
      type: object
      description: JSON representation of object after the request.
    StateBeforeRequest:
      type: object
      description: JSON representation of object before the request.
    StatisticsPaidFeaturesAggregatedRawLogsUsage:
      type: object
      properties:
        resource:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Resource'
        metrics:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Metrics'
        raw_logs_usage:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_RawLogsUsage'
    StatisticsPaidFeaturesAggregatedShieldUsage:
      type: object
      properties:
        resource:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Resource'
        metrics:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Metrics'
        shield_usage:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ShieldUsage'
    StatisticsPaidFeaturesSeries:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ID'
        active_from:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ActiveFrom'
        active_to:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ActiveTo'
        client_id:
          allOf:
          - $ref: '#/components/schemas/body_response_client_ID'
        cname:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Cname'
    StatisticsTrafficAggregated:
      type: object
      properties:
        client:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Client'
        resource:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Resource'
        region:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_RegionAggregated'
        metrics:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Metrics'
        upstream_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_UpstreamBytesAggregated'
        sent_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_SentBytesAggregated'
        total_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_TotalBytesAggregated'
        shield_usage:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ShieldUsage'
        raw_logs_usage:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_RawLogsUsage'
        requests:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Requests'
        responses_2xx:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Responses2xx'
        responses_3xx:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Responses3xx'
        responses_4xx:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Responses4xx'
        responses_5xx:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Responses5xx'
        responses_hit:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ResponsesHit'
        responses_miss:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_ResponsesMiss'
        cache_hit_traffic_ratio:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_CacheHitTrafficRatio'
        95_percentile:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_95Percentile'
        min_bandwidth:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_MinBandwidth'
        max_bandwidth:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_MaxBandwidth'
    StatisticsTrafficSeries:
      type: object
      properties:
        client:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Client'
        resource:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Resource'
        region:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_RegionSeries'
        metrics:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_Metrics'
        upstream_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_UpstreamBytesSeries'
        sent_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_SentBytesSeries'
        total_bytes:
          allOf:
          - $ref: '#/components/schemas/body_response_statistics_TotalBytesSeries'
    StatusCode:
      type: integer
      description: Status code that is returned in the response.
    TokenID:
      type: integer
      description: Permanent API token ID with which the request was made.
    UnacceptableHandler:
      description: The specified region is not allowed as the default location handler.
      type: object
      properties:
        error:
          type: string
          description: |-
            The specified region is not allowed as the default location handler.

            To get the list of allowed regions, use [Get client content delivery regions list](/docs/api-reference/cdn-resellers/balancer/get-client-content-delivery-regions-list).
          example: unacceptable handler
    UpdateResellerMeDetails:
      type: object
      properties:
        default_enabled_features:
          allOf:
          - $ref: '#/components/schemas/body_request_resellers_DefaultEnabledFeatures'
    UpdateResellerMeDetailsFailed:
      description: Invalid value of "default_enabled_features" parameter is provided.
      type: object
      properties:
        errors:
          type: object
          properties:
            default_enabled_features:
              type: array
              description: |-
                List of paid features IDs that you cannot manage.

                To get information about available features, use [Get account settings](/docs/api-reference/cdn-resellers/account/get-account-settings) section.
              items:
                type: string
              example:
              - 'You have no permission to manage these features: [4]. Use only these: [1, 2, 3].'
    UserID:
      type: integer
      description: ID of the user who made the request.
    body_request_balancer_DefaultNameHandler:
      type: string
      description: |-
        Region name.

        [Get the client default location handler](/docs/api-reference/cdn-resellers/balancer/get-client-default-location-handler) to learn more about regions that can be used as the default location handler.
    body_request_clients_UtilizationLevel:
      type: integer
      description: |-
        CDN traffic usage limit in gigabytes.

        The value must be greater than or equal to 0.

        When the limit is reached, we will send an email notification to the client.
    body_request_resellers_DefaultEnabledFeatures:
      type: array
      items:
        type: integer
      description: |-
        Paid features IDs that will be enabled for new clients created after the field value is specified.

        The list must contain available features only.
    body_response_balancer_billing_regions_ChangedAt:
      type: string
      description: Date of the last update of the information about the region.
    body_response_balancer_billing_regions_CreatedAt:
      type: string
      description: Date of region creation.
    body_response_balancer_billing_regions_Description:
      type: string
      description: Region full name.
    body_response_balancer_billing_regions_ID:
      type: integer
      description: Region ID.
    body_response_balancer_billing_regions_Localization:
      description: Region full name translated into different languages.
      type: array
      items:
        type: object
      nullable: true
    body_response_balancer_billing_regions_Name:
      type: string
      description: Region abbreviation.
    body_response_balancer_billing_regions_Required:
      type: boolean
      description: |-
        Defines whether the region is the default location handler or not.

        Default location handler cannot be excluded from the content delivery.

        Possible values:
        - **true** - Region is the default location handler.
        - **false** - Region is not the default location handler.
    body_response_balancer_default_handler_CurrentHandler:
      type: string
      description: Name of the region used as the default location handler.
    body_response_balancer_default_handler_PossibleHandlers:
      type: array
      items:
        type: string
      description: Names of regions that can be used as the default location handler.
    body_response_balancer_regions_settings_IsIn:
      type: boolean
      description: |-
        Defines whether regions are used for content delivery for a client or not.

        Possible values:
        - **true** - Region is used for content delivery.
        - **false** - Region is not used for content delivery.
    body_response_balancer_regions_settings_RegionList:
      type: array
      items:
        type: integer
      description: |-
        List of region IDs.

        If you specified regions used for content delivery, the regions IDs list must not contain the ID of the default location handler region.

        If you specified regions not used for content delivery, the regions IDs list must contain the ID of the default location handler region.
    body_response_client_AutoSuspendEnabled:
      type: boolean
      description: Defines whether resources will be deactivated automatically by inactivity.
      example: true
    body_response_client_Cname:
      type: string
      description: Domain zone to which a CNAME record of the client CDN resources should be pointed.
    body_response_client_Created:
      type: string
      description: Date of the first synchronization with the Platform.
    body_response_client_DisabledShieldLocationsV2:
      type: array
      items:
        type: integer
      description: Origin shielding location IDs disabled for the client.
      example:
      - 1
      - 2
      - 3
    body_response_client_ID:
      type: integer
      description: Client account ID.
    body_response_client_Service:
      type: object
      description: CDN service status.
      properties:
        enabled:
          allOf:
          - $ref: '#/components/schemas/body_response_service_Enabled'
        status:
          allOf:
          - $ref: '#/components/schemas/body_response_service_Status'
        updated:
          allOf:
          - $ref: '#/components/schemas/body_response_service_Updated'
    body_response_client_Updated:
      type: string
      description: Date of the last CDN service update.
    body_response_client_UseBalancer:
      type: boolean
      description: Defines whether custom balancing is used for content delivery.
    body_response_client_UtilizationLevel:
      type: integer
      description: |-
        CDN traffic usage limit in gigabytes.

        When the limit is reached, we will send an email notification to a client.
    body_response_features_ID:
      type: integer
      description: Feature ID.
    body_response_features_IsFree:
      type: boolean
      description: |-
        Defines whether a feature is free or paid.

        Possible values:
        - **true** - Feature is free.
        - **false** - Feature is paid.
    body_response_features_Name:
      type: string
      description: Feature name.
    body_response_paid_features_CreateDate:
      type: string
      format: date-time
      description: Date and time when the feature was activated (ISO 8601/RFC 3339 format, UTC.)
    body_response_paid_features_ID:
      type: integer
      description: Internal feature activation ID.
    body_response_reseller_AvailableFeatures:
      type: array
      description: IDs of paid features that you can manage for your clients accounts.
      items:
        $ref: '#/components/schemas/body_response_features_ID'
    body_response_reseller_DefaultEnabledFeatures:
      type: array
      description: IDs of paid features that will be enabled for new clients.
      items:
        $ref: '#/components/schemas/body_response_features_ID'
    body_response_reseller_ID:
      type: integer
      description: Reseller account ID.
    body_response_service_Enabled:
      type: boolean
      description: |-
        Defines whether the service is activated.

        Possible values are:
        - **true** - Service is activated.
        - **false** - Service is not activated.
    body_response_service_Status:
      type: string
      description: |-
        Service status.

        Possible values:
        - **new** - CDN service is not activated.
        - **trial** - Free trial is in progress.
        - **trialend** - Free trial has ended and CDN service is stopped. All client CDN resources are suspended.
        - **activating** - CDN service is being activated. It can take up to 15 minutes.
        - **active** - CDN service is active.
        - **paused** - CDN service is stopped. All client CDN resources are suspended.
        - **deleted** - CDN service is stopped. All client CDN resources are deleted.
    body_response_service_Updated:
      type: string
      description: Date of the last status update.
    body_response_statistics_95Percentile:
      type: integer
      description: 95 percentile bandwidth value.
    body_response_statistics_ActiveFrom:
      type: string
      description: Date and time when paid feature was enabled (ISO 8601/RFC 3339 format, UTC.)
    body_response_statistics_ActiveTo:
      type: string
      nullable: true
      description: |-
        Date and time when paid feature was disabled (ISO 8601/RFC 3339 format, UTC.)

        Returns **null** if the paid feature is enabled.
    body_response_statistics_CacheHitTrafficRatio:
      type: integer
      description: 'Formula: 1 - `upstream_bytes` / `sent_bytes`. We deduct the non-cached traffic from the total traffic amount.'
    body_response_statistics_Client:
      type: object
      description: Statistics information grouped by client accounts IDs.
    body_response_statistics_Cname:
      type: string
      description: CDN resource CNAME.
    body_response_statistics_ID:
      type: integer
      description: Internal feature activation ID.
    body_response_statistics_MaxBandwidth:
      type: integer
      description: Maximum bandwidth.
    body_response_statistics_Metrics:
      type: object
      description: Statistics parameters.
    body_response_statistics_MinBandwidth:
      type: integer
      description: Minimum bandwidth.
    body_response_statistics_RawLogsUsage:
      type: string
      description: Number of CDN resources that used Logs uploader.
    body_response_statistics_RegionAggregated:
      type: object
      description: Statistics information grouped by regions.
    body_response_statistics_RegionSeries:
      type: object
      description: |-
        Regions for which data is displayed.

        Possible values:
        - **asia** - Asia
        - **au** - Australia
        - **cis** - CIS (Commonwealth of Independent States)
        - **eu** - Europe
        - **latam** - Latin America
        - **me** - Middle East
        - **na** - North America.
        - **africa** - Africa
        - **sa** - South America
    body_response_statistics_Requests:
      type: integer
      description: Number of requests to edge servers.
    body_response_statistics_Resource:
      type: object
      description: Statistics information grouped by CDN resources.
    body_response_statistics_Responses2xx:
      type: integer
      description: Number of 2xx response codes.
    body_response_statistics_Responses3xx:
      type: integer
      description: Number of 3xx response codes.
    body_response_statistics_Responses4xx:
      type: integer
      description: Number of 4xx response codes.
    body_response_statistics_Responses5xx:
      type: integer
      description: Number of 5xx response codes.
    body_response_statistics_ResponsesHit:
      type: integer
      description: 'Number of responses with the header Cache: HIT.'
    body_response_statistics_ResponsesMiss:
      type: integer
      description: 'Number of responses with the header Cache: MISS.'
    body_response_statistics_SentBytesAggregated:
      type: integer
      description: Traffic in bytes from CDN servers to clients.
    body_response_statistics_SentBytesSeries:
      type: array
      items:
        type: integer
      description: |-
        Bytes from CDN servers to the end-users.

        Represented by two values, for example:
        - 1543622400 - time in the UNIX timestamp when statistics were received.
        - 17329220573 - bytes.
    body_response_statistics_ShieldUsage:
      type: string
      description: Number of CDN resources that used origin shielding.
    body_response_statistics_TotalBytesAggregated:
      type: integer
      description: Upstream bytes and `sent_bytes` combined.
    body_response_statistics_TotalBytesSeries:
      type: array
      items:
        type: integer
      description: |-
        Upstream bytes and `sent_bytes` combined.

        Represented by two values, for example:
        - 1543622400 - time in the UNIX timestamp when statistics were received.
        - 17329220573 - bytes.
    body_response_statistics_UpstreamBytesAggregated:
      type: integer
      description: Traffic in bytes from the upstream to CDN servers.
    body_response_statistics_UpstreamBytesSeries:
      type: array
      items:
        type: integer
      description: |-
        Bytes from the upstream to the CDN servers.

        Represented by two values, for example:
        - 1543622400 - time in the UNIX timestamp when statistics were received.
        - 17329220573 - bytes.
  parameters:
    ID:
      name: log_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ID'
    client_id:
      name: client_id
      in: query
      schema:
        type: integer
      description: Client ID.
    limit:
      name: limit
      in: query
      schema:
        type: integer
      description: Maximum number of items in response.
    max_requested_at:
      name: max_requested_at
      in: query
      schema:
        type: string
      description: |-
        End of the requested time period (ISO 8601/RFC 3339 format, UTC.)

        You can specify a date with a time separated by a space, or just a date.

        Examples:
        - &`max_requested_at`=2021-05-05 12:00:00
        - &`max_requested_at`=2021-05-05
    method:
      name: method
      in: query
      schema:
        type: string
      description: |-
        HTTP method type of requests.

        Use upper case only.

        Example:
        - ?method=DELETE
    min_requested_at:
      name: min_requested_at
      in: query
      schema:
        type: string
      description: |-
        Beginning of the requested time period (ISO 8601/RFC 3339 format, UTC.)

        You can specify a date with a time separated by a space, or just a date.

        Examples:
        - &`min_requested_at`=2021-05-05 12:00:00
        - &`min_requested_at`=2021-05-05
    offset:
      name: offset
      in: query
      schema:
        type: integer
      description: Offset relative to the beginning of activity logs.
    path:
      name: path
      in: query
      schema:
        type: string
      description: Exact URL path.
    path_client_id:
      name: client_id
      in: path
      required: true
      schema:
        allOf:
        - $ref: '#/components/schemas/body_response_client_ID'
    path_feature_id:
      name: feature_id
      in: path
      required: true
      schema:
        allOf:
        - $ref: '#/components/schemas/body_response_features_ID'
    path_free_feature_id:
      name: free_feature_id
      in: path
      required: true
      schema:
        allOf:
        - $ref: '#/components/schemas/body_response_paid_features_ID'
    path_paid_feature_id:
      name: paid_feature_id
      in: path
      required: true
      schema:
        allOf:
        - $ref: '#/components/schemas/body_response_paid_features_ID'
    query_client_id:
      name: client_id
      in: query
      schema:
        type: integer
      description: Client account ID.
    query_client_id_required:
      required: true
      name: client_id
      in: query
      schema:
        type: integer
      description: Client account ID.
    query_statistics_Client:
      in: query
      name: client
      schema:
        type: integer
      description: |-
        Client accounts IDs.

        To request multiple values, use:
        - &client=1&client=2
    query_statistics_Countries:
      in: query
      name: countries
      schema:
        type: string
      description: |-
        Names of countries for which data should be displayed.

        English short names from [ISO 3166 standard][1] without the definite article ("the") should be used.

         [1]: https://www.iso.org/obp/ui/#search/code/

        To request multiple values, use:
        - &countries=france&countries=denmark
    query_statistics_Flat:
      in: query
      name: flat
      schema:
        type: boolean
      description: |-
        The way the parameters are arranged in the response.

        Possible values:
        - **true** – Flat structure is used.
        - **false** – Embedded structure is used (default.)
    query_statistics_From:
      in: query
      name: from
      schema:
        type: string
      required: true
      description: |-
        Beginning of the requested time period (ISO 8601/RFC 3339 format, UTC.)

        Example:
        - &from=2018-12-01T00:00:00.000
    query_statistics_Granularity:
      in: query
      name: granularity
      schema:
        type: string
      required: true
      description: |-
        Duration of time chunks into which the data will be divided.

        Possible values:
        - **1m** - available only for up to 1 month in the past.
        - **5m**
        - **15m**
        - **1h**
        - **1d**
    query_statistics_GroupByPaidFeatures:
      in: query
      name: group_by
      schema:
        type: string
      description: |-
        Output data grouping.

        Possible values:
        - **client** - Data is grouped by clients.
        - **resource** - Data is grouped by CDN resources.

        To request multiple values, use:
        - &`group_by`=client&`group_by`=resource
    query_statistics_GroupByTraffic:
      in: query
      name: group_by
      schema:
        type: string
      description: |-
        Output data grouping.

        Possible values:
        - **client** - Data is grouped by clients.
        - **resource** - Data is grouped by CDN resources.
        - **region** - Data is grouped by regions of CDN edge servers.
        - **country** - Data is grouped by countries of CDN edge servers.
        - **vhost** - Data is grouped by resources CNAMEs.
        - **`client_country`** - Data is grouped by countries, based on end-users' location.

        To request multiple values, use:
        - &`group_by`=client&`group_by`=resource
    query_statistics_MetricsAggregated:
      in: query
      name: metrics
      schema:
        type: string
      required: true
      description: |-
        Types of statistics data.

        Possible values:
        - **`upstream_bytes`** - Traffic in bytes from an origin server to CDN servers or to origin shielding when used.
        - **`sent_bytes`** - Traffic in bytes from CDN servers to clients.
        - **`shield_bytes`** - Traffic in bytes from origin shielding to CDN servers.
        - **`total_bytes`** - `shield_bytes`, `upstream_bytes` and `sent_bytes` combined.
        - **`cdn_bytes`** - `sent_bytes` and `shield_bytes` combined.
        - **requests** - Number of requests to edge servers.
        - **`responses_2xx`** - Number of 2xx response codes.
        - **`responses_3xx`** - Number of 3xx response codes.
        - **`responses_4xx`** - Number of 4xx response codes.
        - **`responses_5xx`** - Number of 5xx response codes.
        - **`responses_hit`** - Number of responses with the header Cache: HIT.
        - **`responses_miss`** - Number of responses with the header Cache: MISS.
        - **`cache_hit_traffic_ratio`** - Formula: 1 - `upstream_bytes` / `sent_bytes`. We deduct the non-cached traffic from the total traffic amount.
        - **`shield_usage`** - Origin shielding usage. To get accurate results, you must use grouping or filtering by a client or by a CDN resource.
        - **`raw_logs_usage`** - Logs uploader usage. To get accurate results, you should use grouping or filtering by a client or by a CDN resource.
    query_statistics_MetricsSeries:
      in: query
      name: metrics
      schema:
        type: string
      required: true
      description: |-
        Types of statistics data.

        Possible values:
        - **`upstream_bytes`** - Traffic in bytes from an origin server to CDN servers or to origin shielding when used.
        - **`sent_bytes`** - Traffic in bytes from CDN servers to clients.
        - **`shield_bytes`** - Traffic in bytes from Origin shielding to CDN servers.
        - **`total_bytes`** - `shield_bytes`, `upstream_bytes` and `sent_bytes` combined.
        - **`cdn_bytes`** - `sent_bytes` and `shield_bytes` combined.
        - **requests** - Number of requests to edge servers.
        - **`responses_2xx`** - Number of 2xx response codes.
        - **`responses_3xx`** - Number of 3xx response codes.
        - **`responses_4xx`** - Number of 4xx response codes.
        - **`responses_5xx`** - Number of 5xx response codes.
        - **`responses_hit`** - Number of responses with the header Cache: HIT.
        - **`responses_miss`** - Number of responses with the header Cache: MISS.
        - **`cache_hit_traffic_ratio`** - Formula: 1 - `upstream_bytes` / `sent_bytes`. We deduct the non-cached traffic from the total traffic amount.
    query_statistics_Regions:
      in: query
      name: regions
      schema:
        type: string
      description: |-
        Regions for which data is displayed.

        Possible values:
        - **na** - North America
        - **eu** - Europe
        - **cis** - Commonwealth of Independent States
        - **asia** - Asia
        - **au** - Australia
        - **latam** - Latin America
        - **me** - Middle East
        - **africa** - Africa
        - **sa** - South America
    query_statistics_Resource:
      in: query
      name: resource
      schema:
        type: integer
      description: |-
        CDN resources IDs.

        To request multiple values, use:
        - &resource=1&resource=2
    query_statistics_Service:
      in: query
      name: service
      schema:
        type: string
      required: true
      description: |-
        Service name.

        Possible value:
        - CDN
    query_statistics_To:
      in: query
      name: to
      schema:
        type: string
      required: true
      description: |-
        End of the requested time period (ISO 8601/RFC 3339 format, UTC.)

        Example:
        - &to=2018-12-01T01:00:00.000
    remote_ip_address:
      name: remote_ip_address
      in: query
      schema:
        type: string
      description: Exact IP address from which requests are sent.
    status_code:
      name: status_code
      in: query
      schema:
        type: integer
      description: |-
        Status code returned in the response.

        Specify the first numbers of a status code to get requests for a group of status codes.

        To filter the activity logs by 4xx codes, use:
        - &`status_code`=4 -
    token_id:
      name: token_id
      in: query
      schema:
        type: integer
      description: Permanent API token ID. Requests made with this token should be displayed.
    user_id:
      name: user_id
      in: query
      schema:
        type: integer
      description: User ID.
  examples:
    AccountDetails:
      value:
        id: 1
        created: '2017-06-10T10:30:04.954354Z'
        updated: '2017-06-10T10:30:04.954354Z'
        service:
          enabled: true
          status: active
          updated: '2017-06-10T10:30:04.954354Z'
        utilization_level: 500
        cname: cli-1-hash.example.com
        use_balancer: false
    AccountsList:
      value:
      - id: 1
        created: '2020-07-10T10:30:04.954354Z'
        updated: '2021-06-11T10:30:04.954354Z'
        service:
          enabled: true
          status: active
          updated: '2021-06-11T10:30:04.954354Z'
        cname: cli-12345.example.com
        use_balancer: false
      - id: 2
        created: '2020-06-10T10:30:04.954354Z'
        updated: '2021-06-10T10:30:04.954354Z'
        service:
          enabled: true
          status: trial
          updated: '2021-06-10T10:30:04.954354Z'
        cname: cli-23456.example.com
        use_balancer: true
    BillingRegionsList:
      value:
      - id: 1
        name: region1
        created_at: ''
        changed_at: ''
        description: Region 1
        required: false
        visible: false
        localization: null
      - id: 2
        name: region2
        created_at: ''
        changed_at: ''
        description: Region 2
        required: false
        visible: false
        localization: null
    ClientSettingsDetails:
      value:
        is_in: true
        region_list:
        - 1
        - 2
    DefaultHandler:
      value:
        client_id: 1
        name: region
    DefaultLocationHandler:
      value:
        current_handler: region1
        possible_handlers:
        - region2
        - region3
    Features:
      value:
        id: 1
        paid_features:
        - feature_id: 1
          name: Example 1
        - feature_id: 2
          name: Example 2
          paid_feature_id: 100
          create_date: '2021-01-01T00:00:00.000000Z'
        free_features:
        - feature_id: 10
          name: Free Example 1
        - feature_id: 11
          name: Free Example 2
          free_feature_id: 200
          create_date: '2021-01-01T00:00:00.000000Z'
    FeaturesDetail:
      value:
        id: 1
        name: Example 1
        service: CDN
        is_free: false
    FeaturesList:
      value:
      - id: 1
        name: Example 1
        service: CDN
        is_free: false
      - id: 2
        name: Example 2
        service: CDN
        is_free: true
    FreeFeaturesDetail:
      value:
        id: 1
        client_id: 1
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: true
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
    FreeFeaturesList:
      value:
      - id: 1
        client_id: 1
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: true
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
      - id: 2
        client_id: 2
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: true
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
    PaidFeaturesCreateRequest:
      value:
        client_id: 1
        feature_id: 1
    PaidFeaturesDetail:
      value:
        id: 2
        client_id: 2
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: false
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
    PaidFeaturesList:
      value:
      - id: 1
        client_id: 1
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: false
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
      - id: 2
        client_id: 2
        feature:
          id: 1
          name: Example 1
          service: CDN
          is_free: false
        feature_id: 1
        create_date: '2021-01-01T00:00:00.000000Z'
    ResellersMe:
      value:
        id: 1
        available_features:
        - 1
        - 2
        - 3
        default_enabled_features:
        - 2
        - 3
    ServiceDetails:
      value:
        enabled: true
        status: active
        updated: '2021-06-10T10:30:04.954354Z'
    StatisticsPaidFeaturesAggregatedRawLogsUsage:
      value:
        resource:
          '1':
            metrics:
              raw_logs_usage: 1
    StatisticsPaidFeaturesAggregatedShieldUsage:
      value:
        resource:
          '1':
            metrics:
              shield_usage: 1
    StatisticsPaidFeaturesSeries:
      value:
      - id: 1
        active_from: '2020-01-21T04:36:35.473Z'
        active_to: null
        client_id: 1
        cname: resource-1.com
      - id: 2
        active_from: '2020-03-21T04:36:30.269Z'
        active_to: '2020-04-21T04:36:33.062Z'
        client_id: 1
        cname: resource-2.com
    StatisticsTrafficAggregated:
      value:
        resource:
          '1':
            region:
              cis:
                metrics:
                  95_percentile: 20023536
                  cache_hit_traffic_ratio: 0.9958449964158854
                  max_bandwidth: 34794756
                  min_bandwidth: 379257
                  requests: 21575631
                  responses_2xx: 21095299
                  responses_3xx: 278225
                  responses_4xx": 202026
                  responses_5xx": 81
                  sent_bytes": 22014089592053
                  total_bytes": 22105558213209
                  upstream_bytes": 91468621156
                  responses_hit": 63368252
                  responses_miss": 866237
              eu:
                metrics:
                  95_percentile: 14324356
                  cache_hit_traffic_ratio: 0.9852247660029627
                  max_bandwidth: 22215199
                  min_bandwidth: 299608
                  requests: 64234595
                  responses_2xx: 62616980
                  responses_3xx: 1196666
                  responses_4xx: 420718
                  responses_5xx: 216
                  sent_bytes: 16552226067556
                  total_bytes: 16796789080876
                  upstream_bytes: 244563013320
                  responses_hit: 21235829
                  responses_miss": 339566
    StatisticsTrafficSeries:
      value:
        resource:
          '1':
            region:
              asia:
                metrics:
                  sent_bytes:
                  - - 1543622400
                    - 17329220573
                  total_bytes:
                  - - 1543622400
                    - 17384617989
                  upstream_bytes:
                  - - 1543622400
                    - 55397416
  securitySchemes:
    APIKey:
      description: |-
        API key for authentication. Make sure to include the word `apikey`, followed by a single space and then your token.
        Example: `apikey 1234$abcdef`
      type: apiKey
      in: header
      name: Authorization
x-tagGroups:
- name: CDN Reseller API
  tags:
  - Account
  - CDN service
  - Features
  - Balancer
  - CDN activity logs
  - Logs uploader
  - Statistics
  - Origin shielding
security:
- APIKey: []
