<div class="switcher switcher_{{ variant }}">
    <label
        *ngIf="leftText && !isHiddenLabels"
        class="text m-right_small {{ value === leftText ? 'active' : '' }}"
        for="left{{ name }}"
        >{{ leftText }}</label
    >
    <div class="switcher-toggler" [class.disabled]="isLeftDisabled && value === leftText">
        <input
            aria-label="switcher toggler"
            type="radio"
            class="switcher_left_text {{ value === leftText ? 'active' : '' }}"
            (change)="onChange($event)"
            [value]="leftText"
            name="{{ name }}"
            id="left{{ name }}"
            [checked]="value === leftText ? 'checked' : ''"
        />
        <input
            aria-label="switcher toggler"
            type="radio"
            class="switcher_right_text {{ value === rightText ? 'active' : '' }}"
            (change)="onChange($event)"
            [value]="rightText"
            name="{{ name }}"
            id="right{{ name }}"
            [checked]="value === rightText ? 'checked' : ''"
        />
        <div class="switcher_type"></div>
    </div>
    <label
        *ngIf="rightText && !isHiddenLabels"
        class="text m-left_small {{ value === rightText ? 'active' : '' }}"
        for="right{{ name }}"
        >{{ rightText }}</label
    >
</div>
