@import '../../../scss/variables';

:host {
    display: block;
    background: $standartPurple;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.gc-box-title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: $contentContrastPrimary;
    margin: 0 0 0.5rem;
    font-weight: 500;
}

.gc-box-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $contentContrastPrimary;
    margin: 0 0 1rem;
    font-weight: 400;
}

gc-redirect-link-button {
    display: inline-block;
}
