<div class="gc-current-gallery-item">
    <img src="{{ currentGalleryItemSrc }}" alt="{{ currentGalleryItemAlt }}" />
</div>
<div #gallery class="gc-gallery" [ngClass]="isActive ? 'active' : ''">
    <ng-content></ng-content>
</div>
<div class="gc-gallery-navigation">
    <button class="gc-gallery-navigation-arrow gc-gallery-navigation-prev" #prevButton>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.86364 14.5256L0.974432 7.63636L7.86364 0.747159L9.3267 2.19602L4.9446 6.57812H15.5909V8.6946H4.9446L9.3267 13.0696L7.86364 14.5256Z"
                fill="#22174A"
            />
        </svg>
    </button>
    <div class="gc-gallery-navigation-count">
        <span class="gc-gallery-current">{{ currentIndex + 1 }}</span>
        <span class="gc-gallery-text">/</span>
        <span class="gc-gallery-all">{{ sliderCount }}</span>
    </div>
    <button class="gc-gallery-navigation-arrow gc-gallery-navigation-next" #nextButton>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.22727 14.5256L6.7642 13.0767L11.1463 8.6946H0.5V6.57812H11.1463L6.7642 2.20312L8.22727 0.747159L15.1165 7.63636L8.22727 14.5256Z"
                fill="#22174A"
            />
        </svg>
    </button>
</div>
