.gc-current-gallery-item {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.gc-gallery {
  white-space: nowrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  font-size: 0;
  overflow: auto;
}