<section class="categories-section">
    <gc-left-bar-menu [class.expanded]="isMenuExpanded" [isHomePage]="true" class="categories-section-menu">
    </gc-left-bar-menu>
    <div class="content-wrapper">
        <h1 class="main-title gc-title">Gcore</h1>
        <h1 class="main-title">Product Documentation</h1>
        <p class="subtitle-description">Explore product functionality, configuration, and troubleshooting guides.</p>
        <ul class="categories-list">
            <li
                *ngFor="let category of categories"
                class="category-item"
                [class.hide]="category.name === 'Reseller Support'"
            >
                <a class="category-link" [routerLink]="category.url">
                    <img
                        src="{{ baseHref + 'assets/icons/category/' + category.url + '.svg' }}"
                        alt="{{ category.name }}"
                    />
                    {{ category.name }}
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="developer-docs-section">
    <div class="content-wrapper">
        <div class="docs-section-content">
            <h2 class="section-title">Developer docs</h2>
            <p class="section-description">
                Your team is unique and so is your code. Take advantage of a flexible API to remain in control of the
                code synchronized into your projects, whatever the technologies you're using.
            </p>
            <a class="apidocs-link" target="_blank" [href]="'https://apidocs.gcorelabs.com'"
                >Explore our API Documentation &#8594;</a
            >
        </div>
        <div class="docs-image">
            <img src="{{ baseHref + 'assets/api-docs.png' }}" alt="api-docs" />
        </div>
    </div>
</section>
<section class="footer-section">
    <div class="content-wrapper">
        <div class="footer-section-content">
            <a [href]="'https://gcore.com/'" target="_blank" class="logo">
                <img src="{{ baseHref + 'assets/logo-dark.svg' }}" alt="G-Core Labs" />
            </a>
            <a [href]="'mailto:support@gcore.com'" class="email-address">support@gcore.com</a>
            <a [href]="'mailto:info@gcore.com'" class="email-address">info@gcore.com</a>
        </div>
        <p class="address-line">
            G‑Core Labs S.A. © 2015–2023 All rights reserved. Principal place of business and postal address: 2-4, Rue
            Edmond Reuter, L-5326 Contern, Luxembourg
        </p>
    </div>
</section>
