<section class="categories-section">
  <div class="content-wrapper">
    <h1 class="main-title gc-title">G-Core Labs</h1>
    <h1 class="main-title">Products Documentation</h1>
    <p class="subtitle-description">Explore G-Core products and examples on how to integrate and set up CDN and
      secure your content.</p>
    <ul class="categories-list">
      <li *ngFor="let category of categories" class="category-item">
        <a class="category-link" [routerLink]="'/documentation/' + category.url">
          <img src="{{'../../../assets/' + category.url + '.svg'}}" alt="{{category.name}}">
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="developer-docs-section">
  <div class="content-wrapper">
    <div class="docs-section-content">
      <h2 class="section-title">Developer docs</h2>
      <p class="section-description">Your team is unique and so is your code. Take advantage of a flexible API to remain
        in control of the
        code synchronized
        into your projects, whatever the technologies you're using.</p>
      <a class="apidocs-link" href="https://apidocs.gcorelabs.com">Explore our API Documentation &#8594;</a>
    </div>
    <div class="docs-image">
      <img src="../../../assets/api-docs.png" alt="api-docs">
    </div>
  </div>
</section>
<section class="footer-section">
  <div class="content-wrapper">
    <div class="footer-section-content">
      <div class="logo">
        <img src="../../../assets/logo-dark.png" alt="G-Core Labs">
      </div>
      <p class="email-address">support@gcorelabs.com</p>
      <p class="email-address">info@gcorelabs.com</p>
    </div>
    <p class="address-line">
      G‑Core Labs S.A. © 2015–2021 All rights reserved. Principal place of business and postal address: 2-4, Rue Edmond
      Reuter, L-5326 Contern, Luxembourg
    </p>
  </div>
</section>