@import "../../../scss/variables";

.categories-section {
  background-color: $lightGreyBG;

  .content-wrapper {
    background: url("../../../assets/dots.png") calc(100% - 1.5rem) 50px
    no-repeat;
    background-size: 700px;
    padding: 6rem 1.5rem;

    @media (max-width: 800px) {
      background: none;
      padding: 3rem 1.5rem;
    }
  }

  .main-title {
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0;
    line-height: 5rem;

    &.gc-title {
      background: linear-gradient(360deg, #ffffff -20%, #ff5700 95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    @media (max-width: 800px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .subtitle-description {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    max-width: 34rem;
    color: $contentSecondary;
    margin-top: 1.5rem;
    margin-bottom: 4rem;

    @media (max-width: 800px) {
      font-size: 1rem;
      margin: 1rem 0 0.5rem;
    }
  }

  .categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;

    .category-item {
      width: calc(100% / 3);
      padding: 0.75rem;
      list-style-type: none;

      a {
        display: flex;
        align-items: center;
        padding: 0.625rem 1rem;
        background-color: #fff;
        box-shadow: 0px 0px 1px rgba(17, 24, 28, 0.16),
        0px 1px 4px rgba(17, 24, 28, 0.16);
        border-radius: 6px;
        color: $contentPrimary;
        text-decoration: none;

        img {
          margin-right: 0.75rem;
        }

        &:hover {
          box-shadow: 0px 4px 12px -2px rgba(17, 24, 28, 0.12),
          0px 1px 2px rgba(17, 24, 28, 0.16);
        }
      }

      @media (max-width: 800px) {
        width: 100%;
        padding: 0.5rem;
      }
    }

    @media (max-width: 800px) {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }
}

.content-wrapper {
  max-width: 72rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.developer-docs-section {
  padding: 6rem 0 8rem;
  border-bottom: 1px solid $borderLine;

  @media (max-width: 800px) {
    padding: 3rem 0;
  }

  .content-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      display: block;
    }
  }

  .docs-image {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .docs-section-content {
    width: 50%;
    padding-right: 9%;

    @media (max-width: 800px) {
      width: 100%;
      padding: 0;
    }

    .section-title {
      font-size: 3rem;
      line-height: 1.25;

      @media (max-width: 800px) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0;
      }
    }

    .section-description {
      font-size: 1rem;
      color: $contentSecondary;
      line-height: 1.5;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
      font-weight: 500;

      @media (max-width: 800px) {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    .apidocs-link {
      color: $contentLink;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;

      &:hover {
        color: $contentLinkHover;
      }

      &:active {
        color: $contentLinkActive;
      }
    }
  }
}

.footer-section {
  .footer-section-content {
    display: flex;
    align-items: center;
    padding: 3rem 0 2rem;

    @media (max-width: 800px) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 568px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .logo {
      width: 7.5rem;

      @media (max-width: 568px) {
        margin-bottom: .5rem;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .email-address {
      margin-left: auto;
      color: $contentSecondary;
      text-decoration: none;

      @media (max-width: 568px) {
        margin-left: unset;
      }

      & + .email-address {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid $borderLine;

        @media (max-width: 800px) {
          padding: 0;
          margin: 0;
          border-left: 0;

          &:nth-child(3) {
            margin-left: 1rem;
          }
        }

        @media (max-width: 568px) {
          &:nth-child(3) {
            margin-left: 0;
            margin-top: .5rem;
          }
        }
      }
    }
  }

  .address-line {
    border-top: 1px solid $borderLine;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $contentSecondary;
    padding: 3.5rem 0 4rem;
    margin: 0;

    @media (max-width: 800px) {
      padding: 2rem 0 3rem;
    }
  }
}
