@import '../../../scss/variables';

.edit-github-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: $contentContrastPrimary;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-color: $contentPrimary;
    border-radius: 0.25rem;
    transition: all 0.2s;

    &:hover {
        background-color: $standartPurple;
    }

    &-img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
