.edit-github-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #22174a;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;

    &-img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
