@import '../../../scss/variables';

:host {
    display: block;
}

.redirect-link {
    display: inline-block;
    padding: 11px 20px;
    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 6px;
    background-color: transparent;
    font-weight: 600;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    border: 1px solid $secondaryContrast;
    width: 100%;

    &:hover {
        border-color: $secondaryContrastHover;
    }

    &:active {
        border-color: $secondaryContrastActive;
    }

    svg {
        vertical-align: top;
        margin-left: 0.25rem;
    }

    &-white {
        border: 1px solid $borderNormal;
        color: $contentPrimary;

        svg {
            path {
                stroke: $contentPrimary;
            }
        }
    }

    &-brand {
        border: 1px solid $contentLink;
        color: #fff;
        background-color: $contentLink;

        svg {
            path {
                stroke: #fff;
            }
        }

        &:hover {
            background-color: $contentLinkHover;
            border-color: $contentLinkHover;
        }

        &:active {
            border-color: $contentLinkActive;
            background-color: $contentLinkActive;
        }
    }
}
