<div class="popup-back" *ngIf="isSettings"></div>
<div class="cookie-popup bg_white" [class.cookie-popup-settings]="isSettings">
    <ng-container *ngIf="!isSettings; else settingContent">
        <h4 class="cookie-popup-title">Cookies</h4>
        <div class="cookie-popup-text">
            <span>
                We use cookies to provide a better experience.
                <br />
                Click «Accept all cookies» to agree to the storing of all cookies or go to the
            </span>
            <button class="cookie-popup-text-button link" (click)="showSetting()">Cookie settings</button>
            <span>
                to manage your preferences. You can learn more about how this website uses Cookies by reading our</span
            >
            <a [href]="'https://gcore.com/legal?cookie_policy'" target="_blank" class="link cookie-popup-text-link">
                Cookie Policy
            </a>
        </div>
    </ng-container>

    <ng-template #settingContent>
        <div class="cookie-popup-settings">
            <button class="button arrow-button arrow-button_left" (click)="backFromSettings()"></button>
            <h4 class="cookie-popup-settings-title">Cookie settings</h4>
        </div>
        <p class="cookies-settings-description">
            Please choose your settings for this site below. You can allow or deny non essential cookies.
        </p>
        <ul class="cookies-settings-list">
            <li class="cookies-setting">
                <h4 class="cookies-setting-title">Essential</h4>
                <div class="cookies-setting-content">
                    <div class="cookies-setting-text">
                        <p class="cookies-setting-line">
                            Please choose your settings for this site below. You can allow or deny non essential
                            cookies.
                            <a
                                class="link cookies-setting-link policy-link"
                                [href]="'https://gcore.com/legal?cookie_policy'"
                                target="_blank"
                                >Cookie Policy</a
                            >
                        </p>
                    </div>
                    <switcher class="inactive"></switcher>
                </div>
            </li>
            <li class="cookies-setting">
                <h4 class="cookies-setting-title">Marketing/Tracking</h4>
                <div class="cookies-setting-content">
                    <div class="cookies-setting-text">
                        <p class="cookies-setting-line">
                            Please see the list of marketing/tracking cookies in our
                            <a
                                class="link cookies-setting-link policy-link"
                                [href]="'https://gcore.com/legal?cookie_policy'"
                                target="_blank"
                            >
                                Cookie Policy
                            </a>
                        </p>
                    </div>
                    <switcher
                        class="toggle"
                        [(value)]="marketing"
                        [leftText]="'decline'"
                        [rightText]="'accept'"
                        [isHiddenLabels]="true"
                        [isLeftDisabled]="true"
                    ></switcher>
                </div>
            </li>
            <li class="cookies-setting">
                <h4 class="cookies-setting-title">Statistics</h4>
                <div class="cookies-setting-content">
                    <div class="cookies-setting-text">
                        <p class="cookies-setting-line">
                            Please see the list of marketing/tracking cookies in our
                            <a
                                class="link cookies-setting-link policy-link"
                                [href]="'https://gcore.com/legal?cookie_policy'"
                                target="_blank"
                            >
                                Cookie Policy
                            </a>
                        </p>
                    </div>
                    <switcher
                        class="toggle"
                        [(value)]="statistic"
                        [leftText]="'decline'"
                        [rightText]="'accept'"
                        [isHiddenLabels]="true"
                        [isLeftDisabled]="true"
                    ></switcher>
                </div>
            </li>
        </ul>
    </ng-template>

    <div class="buttons-block">
        <button class="button button_primary" (click)="acceptAll()">Accept all cookies</button>
        <button *ngIf="!isSettings" (click)="rejectAll()" class="button button_primary">Reject all</button>
        <button *ngIf="isSettings" (click)="acceptSelected()" class="button button_primary">Confirm my choices</button>
    </div>
</div>
