@import '../../../scss/variables';

.cookie-popup {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    display: block;
    padding: 1.5rem;
    max-width: 27rem;
    max-height: 100%;
    border: 1px solid $border;
    border-radius: 1.5rem;
    overflow: hidden;
    z-index: 98;

    .cookie-popup-title {
        font-weight: 600;
        line-height: 140%;
        font-size: 1.125rem;
        margin: 0;
    }

    .cookie-popup-text {
        line-height: 140%;
        font-size: 0.875rem;
        color: $contentSecondary;
        margin-top: 1rem;
    }

    .cookie-popup-text-button {
        line-height: 140%;
        font-size: 0.875rem;
    }

    .cookie-popup-text-link {
        line-height: 140%;
        font-size: 0.875rem;
    }

    .cookie-popup-settings {
        display: flex;
        align-items: center;
    }

    .cookie-popup-settings-title {
        font-weight: 600;
        line-height: 140%;
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1rem;
    }

    .cookies-setting-title {
        font-size: 0.75rem;
        line-height: 130%;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cookies-setting-content {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    .cookies-setting-text {
        padding-right: 2rem;
        line-height: 140%;
        font-size: 0.875rem;
    }

    .cookies-setting-link {
        line-height: 140%;
        font-size: 0.875rem;
    }

    .cookies-setting-line {
        color: $contentSecondary;
        line-height: 140%;
        font-size: 0.875rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cookies-settings-description {
        line-height: 140%;
        font-size: 0.875rem;
        color: $contentSecondary;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    ::ng-deep {
        .column-title {
            font-size: 1rem;
        }
    }
}

.bg_white {
    background-color: $bgSurfaceLight;
    color: $contentPrimary;
}

.link {
    font-weight: 600;
    color: $actionPrimary;
    transition: 0.15s;
    outline-offset: 0.25rem;
    border-radius: $borderButtonRadius;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}
.buttons-block {
    display: flex;
    gap: 0.5rem;

    .button {
        width: 100%;
        margin: 0;
    }
}

.cookies-settings-list {
    padding-top: 1.5rem;
    padding-left: 0;
    list-style: none;
}

.buttons-block {
    padding-top: 1.5rem;
}

.cookies-setting {
    position: relative;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.inactive {
    ::ng-deep {
        .switcher {
            .switcher-toggler {
                background: $actionPrimaryDisabled;
            }
        }
    }
}

@media (max-width: 1024px) {
    .popup-back {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100dvh;
        background: $black;
        opacity: 0.55;
        z-index: calc(98 - 1);
    }

    .cookie-popup {
        left: 1.5rem;
        bottom: 1.5rem;
        width: calc(100% - 3rem);
        max-width: none;
    }

    .cookie-popup-settings {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0;
        border: none;
        border-radius: 0;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;

        .cookies-settings-description {
            padding: 0 1.5rem;
        }

        .title-block {
            padding: 1.5rem;
            border-bottom: 1px solid $border;
        }

        .cookies-settings-list {
            padding: 2rem 1.5rem;
            border-bottom: 1px solid $border;
            padding-bottom: 1rem;
        }

        .buttons-block {
            padding: 1.5rem;
        }
    }
}

@media (max-width: 800px) {
    .buttons-block {
        flex-direction: column;
    }
}
