@import '../../../scss/variables';

:host {
    display: flex;
    align-items: flex-start;
}

.gc-content-wrapper {
    width: 100%;
    max-width: 43rem;
    margin-left: 5rem;
    padding: 2.5rem 0;

    .gc-page-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    .gc-search-result {
        .gc-page-title {
            margin-bottom: 2.5rem;
        }
    }

    .gc-result-title {
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $contentPrimary;
        text-decoration: none;
        font-weight: 500;
    }

    .gc-search-result-item + .gc-search-result-item {
        margin-top: 1.75rem;
    }

    .gc-breadcrumbs {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $mutedPurple;
        margin: 0.5rem 0;

        a {
            color: $mutedPurple;
            text-decoration: none;

            &:hover,
            &:active {
                color: $contentPrimary;
            }
        }
    }
}

.gc-filter-checkbox {
    display: flex;
    justify-content: flex-start;
    color: $contentPrimary;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;

    & + .gc-filter-checkbox {
        margin-top: 1rem;
    }

    &.gc-subfilter {
        margin-left: 0.75rem;
    }

    input {
        visibility: hidden;
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        left: 0;
        margin: 0;
        padding: 0;

        &:checked + span {
            &:before {
                background: $contentLink url('https://gcore.com/assets/icons/checkbox.svg') 50% 50% no-repeat;
                border-color: $contentLink;
            }
        }
    }

    span {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: $contentPrimary;
        position: relative;
        padding-left: 1.75rem;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 1.25rem;
            height: 1.25rem;
            box-shadow: 0px 1px 0px rgba(17, 24, 28, 0.08);
            border: 1px solid $borderLine;
            border-radius: 0.25rem;
            left: 0;
            box-sizing: border-box;
        }
    }
}

.gc-filters-section {
    margin-top: 2.25rem;
    max-width: 16rem;
    width: 16rem;
    background-color: $sidebarPurple;
    padding: 1.25rem 1.5rem;
    border-radius: 0px 12px 12px 0px;
    position: sticky;
    top: calc(72px + 36px);

    .gc-select-all {
        margin-top: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: $contentLink;
        border: 0;
        background: transparent;
        cursor: pointer;
        padding: 0;

        &:hover {
            color: $contentLinkHover;
        }

        &:active {
            color: $contentLinkActive;
        }
    }

    .gc-filter-title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: $contentPrimary;
        margin-top: 0;
        margin-bottom: 1.25rem;
    }
}

.gc-content-matching {
    font-size: 1rem;
    line-height: 400;
    color: $contentPrimary;
    line-height: 1.5rem;
}

.gc-pagination-section {
    margin-top: 2rem;
}

.gc-search-box {
    display: none;
}

@media (max-width: 800px) {
    .gc-search-box {
        display: block;
        margin-bottom: 1.5rem;
    }

    .gc-filters-section {
        display: none;
    }

    .gc-content-wrapper {
        margin-left: 0;
        padding: 1.5rem;
    }
}
