@import '../../../scss/variables';

.gc-content-wrapper {
    max-width: 43rem;
    margin: 0 auto;
    padding: 2.5rem 0;

    .gc-page-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    .gc-search-result {
        .gc-page-title {
            margin-bottom: 2.5rem;
        }
    }

    .gc-result-title {
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $contentPrimary;
        text-decoration: none;
        font-weight: 500;
    }

    .gc-search-result-item + .gc-search-result-item {
        margin-top: 1.75rem;
    }

    .gc-breadcrumbs {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $mutedPurple;
        margin: 0.5rem 0 0;

        a {
            color: $mutedPurple;
            text-decoration: none;

            &:hover,
            &:active {
                color: $contentPrimary;
            }
        }
    }
}
