@font-face {
    font-family: Montserrat;
    src: url('./../assets/fonts/Montserrat-Variable.woff2') format('woff2');
    font-weight: 400 700;
    font-display: auto;
}

html {
    font-family: Montserrat, sans-serif;
}

button,
input,
textarea {
    font-family: Montserrat, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
