@import '../../../scss/variables';

.gc-tabset {
    width: 100%;
    max-width: 46.125rem;
    border-radius: 0.625rem;
    background: #efefef;
    padding: 0.625rem;
    overflow-x: hidden;

    .gc-buttons {
        margin-bottom: 0.625rem;
        display: flex;
        column-gap: 0.44rem;
        overflow-x: auto;

        label {
            cursor: pointer;
            flex-shrink: 0;
            min-width: 3.2rem;
            padding: 0.625rem 0.25rem;
            text-align: center;
            border-radius: 0.25rem;
            color: #8f9090;
            border: 1px solid #8f9090;

            &.active {
                background: #8f9090;
                color: white;
            }
        }
    }

    .gc-tab-content {
        border-radius: 0.25rem;
        background: $grey-200;
        display: flex;

        ::ng-deep {
            > h6,
            > input {
                display: none;
            }

            .tab {
                width: 100%;
                flex-shrink: 0;
                order: 2;
                opacity: 0;

                > p {
                    padding: 0 1rem;
                }

                > img {
                    width: 100%;
                }
            }

            input:checked + .tab {
                order: 1;
                opacity: 1;
            }
        }
    }
}
