@import "../../../scss/variables";

.doc-wrapper {
  display: flex;
  align-items: stretch;

  @media (max-width: 800px) {
    display: block;
  }
}

.doc-content-wrapper {
  flex: 1;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;

  .doc-content {
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    flex: 1;

    @media (max-width: 800px) {
      padding: 0 1.5rem;
    }

    .bread-crumbs {
      margin-bottom: 2.5rem;

      @media (max-width: 800px) {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }
    }
  }

  .separator-line {
    height: 1px;
    width: 100%;
    background-color: $borderLine;
  }

  .github-actions {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
    padding: 1.5rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;

    @media (max-width: 800px) {
      padding: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $contentPrimary;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;

      svg {
        margin-right: 0.875rem;
      }
    }

    .last-modified-label {
      margin-left: 1.5rem;
      padding-left: 1.5rem;
      border-left: 1px solid $borderLine;
      color: $contentSecondary;
    }
  }
}

.scully-container img {
  max-width: 100%;
  cursor: pointer;
  border: 1px solid #ececec;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 14%);
}

.full-size-image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  padding: 3rem;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .close-full-screen-modal-btn {
    background-color: transparent;
    border: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
  }
}

.table-of-contents {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 112px;
  right: 0;

  ul > li > a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: $contentSecondary;
    padding-bottom: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;

    &.active {
      color: $contentLink;
    }

    &.item-lvl-1 {
      font-size: 1rem;
    }

    &.item-lvl-2 {
      font-size: 0.875rem;
      padding-left: 1rem;
    }

    &.item-lvl-3 {
      font-size: 0.75rem;
      padding-left: 2rem;
    }

    &.item-lvl-4 {
      font-size: 0.625rem;
      padding-left: 3rem;
    }
  }
}
