.doc-wrapper {
  display: flex;
  align-items: stretch;
}

.doc-content-wrapper {
  flex: 1;

  .doc-content {
    max-width: 43rem;
    margin: 0 auto;
    padding: 2.5rem 0;

    .bread-crumbs {
      margin-bottom: 2.5rem;
    }
  }
}
