@import '../../../scss/variables';

.doc-wrapper {
    display: flex;
    align-items: stretch;
    overflow-wrap: break-word;

    @media (max-width: 800px) {
        display: block;
    }
}

.doc-content-wrapper {
    flex: 1;
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;

    @media (max-width: 800px) {
        padding: 0 1.5rem;
    }

    .doc-content {
        width: 100%;
        max-width: 43rem;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        flex: 1;
        padding-bottom: 2rem;
        margin-left: 8.5rem;

        @media (max-width: 1555px) {
            margin-left: 5rem;
        }

        @media (max-width: 1440px) {
            margin-left: 0;
        }

        @media (max-width: 1280px) {
            margin-left: auto;
        }

        @media (max-width: 800px) {
            padding: 0 0 1.5rem 0;
        }

        .bread-crumbs {
            margin-bottom: 2.5rem;

            @media (max-width: 800px) {
                margin-bottom: 1.5rem;
                margin-top: 1rem;
            }
        }
    }

    .separator-line {
        height: 1px;
        width: 100%;
        background-color: $borderLine;
    }

    .github-actions {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 43rem;
        margin: 0 auto;
        padding: 1.5rem 0;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;

        @media (max-width: 1555px) {
            margin-left: 5rem;
        }

        @media (max-width: 1440px) {
            margin-left: 0;
        }

        @media (max-width: 1280px) {
            margin-left: auto;
        }

        @media (max-width: 800px) {
            padding: 1.5rem;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $contentPrimary;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;

            svg {
                margin-right: 0.875rem;
            }
        }

        .last-modified-label {
            margin-left: 1.5rem;
            padding-left: 1.5rem;
            border-left: 1px solid $borderLine;
            color: $contentSecondary;
        }
    }
}

.scully-container img {
    max-width: 100%;
    cursor: pointer;
    border: 1px solid #ececec;
    box-shadow: 0 1px 9px 0 rgb(0 0 0 / 14%);

    &.active {
        border: 4px solid $standartPurple;
    }
}

.full-size-image-modal {
    display: none;
    justify-content: center;
    background: rgba(29, 29, 33, 0.64);
    position: fixed;
    top: 0;
    padding: 3rem;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;

    &.active {
        display: flex;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .full-size-image-modal-wrap {
        position: relative;
    }

    .close-full-screen-modal-btn {
        background-color: transparent;
        border: 0;
        width: 4.25rem;
        height: 4.25rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

.table-of-contents {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 7rem;
    left: 80rem;

    @media (max-width: 1555px) {
        left: 0;
        right: 0;
    }

    @media (max-width: 1280px) {
        display: none;
    }

    &:before {
        content: '';
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: $greyPurple;
        position: absolute;
    }

    ul > li {
        list-style-type: none;
    }

    ul > li > a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: $mutedPurple;
        margin-bottom: 0.75rem;
        padding-right: 0.75rem;
        width: 15rem;
        position: relative;
        padding-left: 0.9rem;

        &.active {
            color: $contentPrimary;
            font-weight: 500;

            &:before {
                content: '';
                background: $contentPrimary;
                border-radius: 0 0.25rem 0.25rem 0;
                position: absolute;
                left: 0;
                min-width: 3px;
                width: 3px;
                height: 100%;
            }
        }

        &.item-lvl-1 {
            font-size: 1rem;
        }

        &.item-lvl-2 {
            font-size: 0.875rem;
            padding-left: 1.5rem;
        }

        &.item-lvl-3 {
            font-size: 0.75rem;
            padding-left: 2.25rem;
        }

        &.item-lvl-4 {
            font-size: 0.625rem;
            padding-left: 3rem;
        }
    }
}
