@import "./scss/variables";
@import "./scss/code";

html {
  font-family: Inter, sans-serif;
  color: $contentPrimary;
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.gc-title-with-anchor {
  position: relative;
  padding-left: 1.5rem;
  margin-left: -1.5rem;

  .gc-title-anchor-link {
    display: none;
    border: 0;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
    background-image: url("./assets/link.svg");
    background-size: 1.25rem;
    left: 0;
    top: calc(50% - 0.625rem);
    cursor: pointer;

    &.gc-anchor-link-copied::after {
      content: "Copied!";
      display: block;
      position: absolute;
      box-shadow: rgb(204 204 204) 0px 0px 5px 0px;
      z-index: 2;
      bottom: calc(100% + 10px);
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      background: #fff;
      left: 10px;
    }
  }

  &:hover {
    .gc-title-anchor-link {
      display: block;
    }
  }
}

.gc-copy-to-clipboard {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: $contentLink;
  border-radius: 4px;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 0.125rem 0.5rem;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  cursor: pointer;
  outline: 0px;

  &:hover {
    background-color: $contentLinkHover;
  }

  &:active {
    background-color: $contentLinkActive;
  }
}

.scully-container {
  blockquote {
    padding: 1px 1rem;
    color: $contentSecondary;
    border-left: 0.25em solid $borderLine;
    margin-left: 0;
    background: $lightGreyBG;
    display: block;
  }
}

.gc-columns > * {
  flex: 1;
}

.gc-gallery {
  img {
    width: 25%;
    height: auto;
    padding: 0.5rem;
  }
}