@import './scss/variables';
@import './scss/code';

html {
    font-family: Inter, sans-serif;
    color: $contentPrimary;
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 0.875rem;
}

* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;

    li {
        font-size: 1rem;
        line-height: 1.5rem;

        &:has(> input) {
            list-style-type: none;
        }

        ul,
        ol {
            padding-left: 1.5rem;

            li {
                ul,
                ol {
                    padding-left: 1.5rem;
                }
            }
        }
    }
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.6rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

h6 {
    font-size: 0.75rem;
    line-height: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    color: $secondaryContrastFocus;
}

.gc-title-with-anchor {
    position: relative;
    padding-left: 1.5rem;
    margin-left: -1.5rem;

    .gc-title-anchor-link {
        display: none;
        border: 0;
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        background-color: transparent;
        background-image: url('/docs/assets/anchor.svg');
        background-size: 1.25rem;
        left: 0;
        top: calc(50% - 0.625rem);
        cursor: pointer;

        &.gc-anchor-link-copied::after {
            content: 'Copied!';
            display: block;
            position: absolute;
            box-shadow: rgb(204 204 204) 0px 0px 5px 0px;
            z-index: 2;
            bottom: calc(100% + 10px);
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            background: #fff;
            left: 10px;
        }
    }

    &:hover {
        .gc-title-anchor-link {
            display: block;
        }
    }
}

.gc-copy-to-clipboard {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 4px;
    border: 1px solid #dfdcec;
    width: 2.25rem;
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0px;

    .tooltip {
        visibility: hidden;
        padding: 0.25rem 0.75rem;
        width: auto;
        background-color: $contentSecondary;
        color: $secondaryContrastActive;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 140%;
        left: 50%;
        margin-left: -26px;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $contentSecondary transparent transparent transparent;
        }
    }

    &:hover {
        &.active {
            .tooltip {
                margin-left: -33px;
            }
        }

        .tooltip {
            visibility: visible;
        }
    }
}

.scully-container {
    blockquote {
        padding: 1px 1rem;
        color: $contentSecondary;
        border-left: 0.25em solid $borderLine;
        margin-left: 0;
        background: $lightGreyBG;
        display: block;
    }
}

.gc-columns > * {
    flex: 1;
}

.gc-gallery {
    img {
        width: 24.5%;
        height: 100px;
    }

    p {
        margin-top: 0;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;

    @media (max-width: 800px) {
        max-width: 78rem;
    }

    tr {
        border-radius: 3px;

        th {
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $contentPrimary;
            padding: 0.5rem;
            background: $sidebarPurple;
            border: 1px solid $borderNormal;
        }

        td {
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $contentPrimary;
            padding: 0.5rem;
            border: 1px solid $borderNormal;

            ul,
            ol {
                li {
                    list-style-position: inside;
                }
            }
        }
    }
}
