@import "./scss/variables";

html {
  font-family: Inter, sans-serif;
  color: $contentPrimary;
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}
