@import '../../../scss/variables';

:host {
    .gc-popup-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        background: rgba(13, 13, 13, 0.4);

        @media (max-width: 800px) {
            background: transparent;
        }
    }

    .gc-popup {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 98;
        visibility: hidden;
        opacity: 0;
        transition: opacity 250ms ease-in;
        overflow: hidden;

        &-scroll {
            overflow-y: auto;
            height: 100%;
        }

        &.gc-popup-default {
            background: #fff;
            display: block;
        }

        &.gc-popup-video {
            background: rgba(0, 0, 0, 0.9);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.gc-popup_full-width {
            width: 100%;
            height: 100%;
            margin: 0;
            border-radius: 0;
        }

        &.gc-popup_medium {
            width: 55.5rem;
            max-height: calc(100vh - 158px);
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.75rem;

            .gc-popup-scroll {
                max-height: calc(100vh - 158px);
            }

            &.gc-popup_max-height {
                max-height: 100vh;

                .gc-popup-scroll {
                    max-height: 100vh;
                }
            }

            @media (max-width: 800px) {
                width: 100%;
                max-height: none;
                margin-top: 4.6rem;
                top: 0;
                bottom: 0;
                transform: none;

                .gc-popup-scroll {
                    max-height: none;
                }
            }
        }

        &-open {
            visibility: inherit;
            opacity: 1;
        }

        .gc-popup-close {
            width: 35px;
            height: 35px;
            right: 1.5rem;
            top: 1.5rem;
            position: absolute;
            cursor: pointer;
            z-index: 99;

            svg {
                color: $secondaryContrastActive;

                path {
                    stroke: $secondaryContrastActive;
                }
            }
        }
    }
}
