@import '../../../scss/variables';

:host {
    display: block;
    position: relative;
}

.gc-pagination {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    span {
        color: $contentContrastPrimary;
        background-color: $bgSurfaceDark;
    }

    a {
        color: $contentDisabled;
        text-decoration: none;
        cursor: pointer;
    }

    &-num-step {
        button {
            font-weight: 500;
            line-height: 1.5;
            font-size: 1rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 8px;
            border: 1px solid $contentContrastPrimary;
            box-sizing: border-box;
            margin: 0 0.5rem;
        }

        button {
            color: $contentPrimary;
            outline: none;
            border: 0;
            background: transparent;

            &:hover {
                transition: 0.2s;
                border: 1px solid $bgSurfaceDark;
                cursor: pointer;
            }
        }

        span {
            border-color: $bgSurfaceDark;
        }
    }

    &-prev-step,
    &-next-step {
        button {
            font-size: 1.8rem;
            font-weight: normal;
            outline: none;
            border: 0;
            background: transparent;
            color: $contentDisabled;

            &:hover {
                transition: 0.2s;
                color: $contentSecondaryHover;
                cursor: pointer;
            }

            &:focus {
                color: $actionNeutral;
            }

            &:disabled {
                color: $contentDisabled;
            }
        }
    }

    .gc-current-page {
        background: $bgSurfaceDark;
        color: $secondaryContrastActive;
    }
}
