<ul class="gc-pagination" *ngIf="pages.length">
    <div class="gc-pagination-prev-step gc-m-right_x-small">
        <button [disabled]="disableArrLeft" class="gc-link gc-link-arrow" (click)="setPage(currentPage - 1)">
            &larr;
        </button>
    </div>
    <li *ngFor="let page of pages; let i = index" class="gc-pagination-num-step">
        <button (click)="setPage(i)" [class.gc-current-page]="currentPage === i">
            {{ i + 1 }}
        </button>
    </li>
    <div class="gc-pagination-next-step gc-m-left_x-small">
        <button [disabled]="disableArrRight" class="gc-link gc-link-arrow" (click)="setPage(currentPage + 1)">
            &rarr;
        </button>
    </div>
</ul>
