@import 'variables';

.button {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    min-width: 2rem;

    background: none;
    border: 1px solid transparent;
    border-radius: $borderButtonRadius;
    outline-offset: 0;
    outline: 4px solid transparent;

    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;
    transition: 0.15s;

    &_large {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        min-width: 3rem;
    }

    &_small {
        padding: 0.25rem 1rem;
        min-width: 1.75rem;
    }

    svg {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 -0.5rem;

        > * {
            stroke: currentColor;
        }
    }

    span {
        vertical-align: middle;
    }

    span + svg {
        margin-left: 0.25rem;
    }

    svg + span {
        margin-left: 0.75rem;
    }
}

.button_primary {
    background-color: $actionPrimary;
    color: $contentContrastPrimary;

    &:hover {
        background-color: $actionPrimaryHover;
    }

    &:active,
    &.active {
        background-color: $actionPrimaryActive;
    }

    &:focus-visible {
        background-color: $orange-500;
        outline-color: $orange-300;
    }

    &.disabled {
        background-color: $actionPrimaryDisabled;
    }
}

.button_secondary {
    color: $contentPrimary;
    border: 1px solid $midnightPurple-200;

    &:hover {
        border-color: $contentPrimary;
    }

    &:active,
    &.active {
        border-color: $midnightPurple-400;
    }

    &:focus-visible {
        border-color: $midnightPurple-300;
        outline-color: $midnightPurple-300;
    }

    &.disabled {
        border-color: $midnightPurple-200;
        color: $midnightPurple-100;
    }
}

.button_contrast-secondary {
    background: none;
    color: $contentContrastPrimary;
    border: 1px solid $contentContrastSecondary;

    &:hover {
        border-color: $contentContrastSecondaryHover;
    }

    &:active,
    &.active {
        border-color: $contentContrastPrimary;
    }

    &:focus-visible {
        border-color: $actionPrimary;
        outline-color: $actionPrimary;
    }
}
