.scully-container {
    code,
    pre {
        color: $contentPrimary;
        background: none;
        font-family: monospace;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    /* Code blocks */
    pre {
        padding: 1rem;
        margin: 0.5em 0;
        overflow: auto;
        border-radius: 0.3em;
    }

    :not(pre) > code,
    pre {
        background: $sidebarPurple;
    }

    /* Inline code */
    :not(pre) > code {
        padding: 0.1em 0.5em;
        border-radius: 0.3em;
        white-space: normal;
    }

    code .token {
        font-family: monospace;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: $contentPrimary;
    }

    .token.punctuation {
        color: $contentPrimary;
    }

    .token.namespace {
        opacity: 0.7;
    }

    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: #47a752;
    }

    .token.boolean,
    .token.number {
        color: #704cb1;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #47a752;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.variable {
        color: $contentPrimary;
    }

    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.class-name {
        color: #aba13f;
    }

    .token.keyword {
        color: #67b7c6;
    }

    .token.regex,
    .token.important {
        color: #fd971f;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }
}
