// Core Colors
$orange: #ff4c00;
$orange-500: #f87239;
$orange-400: #f58a5c;
$orange-300: #ffb69a;
$orange-200: #ffd8c9;
$orange-100: #ffeee8;

$midnightPurple: #251b29;
$midnightPurple-500: #3b3540;
$midnightPurple-400: #53505c;
$midnightPurple-300: #6d6b77;
$midnightPurple-200: #878590;
$midnightPurple-100: #a1a0a5;

$cloudLight: #ffc090;
$cloudLight-500: #f8c9a5;
$cloudLight-400: #f7d6be;
$cloudLight-300: #fadcc4;
$cloudLight-200: #fce7d6;
$cloudLight-100: #fdf1e8;
$cloudAlert: #fffdf0;

$black: #161616;
$grey-700: #4d4d4d;
$grey-600: #939393;
$grey-500: #cecece;
$grey-400: #dddddd;
$grey-300: #eeeeee;
$grey-200: #f6f6f6;
$grey-100: #f4f3f4;
$white: #ffffff;
$polarWhite: #fffef8;

// Additional
$darkEarth: #3c1414;
$darkPlum: #81265d;
$violet: #3b2b42;
$violet-500: #5b4265;
$violet-400: #856292;

$purple-600: #cabafd;
$purple-500: #d7cbfd;
$purple-400: #dfd6fe;
$purple-300: #e7e0fe;
$purple-200: #efeafe;
$purple-100: #f7f5ff;

$darkGreen: #163311;
$green-600: #6ad47e;
$green-500: #80db91;
$green-400: #9ee3ab;
$green-300: #b4e9be;
$green-200: #daf4df;
$green-100: #f0fbf2;
$green-light: #f3fff5;

$red-400: #b3261e;
$red-300: #c95f5a;
$red-200: #de8f8d;
$red-100: #f7c0be;
$red-alert: #ffeeed;

// Action Primary
$actionPrimary: $orange;
$actionPrimaryHover: $orange-500;
$actionPrimaryActive: $orange-400;
$actionPrimaryDisabled: $orange-200;

// Content
$contentPrimary: $midnightPurple;
$contentSecondary: $grey-700;
$contentSecondaryHover: $grey-600;
$contentDisabled: $grey-500;

$contentContrastPrimary: $white;
$contentContrastSecondary: $grey-400;
$contentContrastSecondaryHover: $grey-200;

$standartPurple: $violet;
$mutedPurple: $midnightPurple-200;
$actionNeutral: $grey-600;

// Background
$bgSurfaceDark: $midnightPurple-400;
$bgSurfaceDark1: $midnightPurple-500;
$bgSurfaceDark2: $midnightPurple;

$bgSurfaceLight: $white;
$bgSurfaceLight1: $grey-200;
$bgSurfaceLight2: $grey-300;

// Border

$border: $grey-500;
$borderDark: $midnightPurple-400;
$borderLine: $grey-400;
$pointCheckmark: #dfdcec;

$borderButtonRadius: 6.25rem;
