$lightGreyBG: #f3f4f5;
$sidebarPurple: #f7f7f8;
$greyPurple: #eae9ec;
$standartPurple: #5d40bf;
$mutedPurple: #767283;
$shadowPurple: #dfdcec;
$contentLink: #ff5913;
$contentLinkActive: #db4100;
$contentLinkHover: #ff6c2e;
$contentPrimary: #22174a;
$borderNormal: #d7dbdf;
$contentSecondary: #56535f;
$contentSecondaryHover: #656c71;
$contentSecondaryActive: #51575c;
$contentContrastSecondary: rgba(255, 255, 255, 0.72);
$borderLine: #d6d7d8;
$contentDisabled: #a5a6a8;
$secondaryContrast: rgba(255, 255, 255, 0.24);
$secondaryContrastHover: rgba(255, 255, 255, 0.72);
$secondaryContrastActive: #ffffff;
$secondaryContrastFocus: #ff5913;
