<svg
    (click)="onSearch()"
    class="search-icon search-icon-{{ variant }}"
    width="20"
    height="20"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M33.3333 33.3333L26.5829 26.5829M26.5829 26.5829C28.6942 24.4717 30 21.555 30 18.3333C30 11.89 24.7767 6.66667 18.3333 6.66667C11.89 6.66667 6.66667 11.89 6.66667 18.3333C6.66667 24.7767 11.89 30 18.3333 30C21.555 30 24.4717 28.6942 26.5829 26.5829Z"
        stroke="#ffffff"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
    />
</svg>
<input
    class="search-input search-input-{{ variant }}"
    placeholder="Type the topic you want to read about"
    [(ngModel)]="searchKey"
    (ngModelChange)="onChanges($event)"
    (blur)="trim()"
    (keyup.enter)="onSearch()"
/>
