@import '../../../scss/variables';

:host {
    display: block;
    position: relative;
}

.search-input {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 1px solid $secondaryContrast;
    border-radius: 6px;
    outline: none;
    background: $secondaryContrast;
    color: #fff;
    padding: 9px 44px 9px 16px;

    &:hover {
        border-color: $secondaryContrastHover;
    }

    &:active {
        border-color: $secondaryContrastActive;
    }

    &:focus {
        border-color: $secondaryContrastFocus;
    }

    &::placeholder {
        color: $contentContrastSecondary;
    }
}

.search-icon {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 10px);
    right: 12px;
}
