@import '../../../scss/variables';

:host {
    display: block;
    position: relative;
}

.search-input {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 1px solid $borderDark;
    border-radius: $borderButtonRadius;
    outline: none;
    background: $bgSurfaceDark;
    color: $contentContrastPrimary;
    padding: 9px 44px 9px 16px;
    transition: 0.15s;

    &:hover {
        border-color: $border;
    }

    &:active {
        border-color: $contentContrastPrimary;
    }

    &:focus {
        border-color: $actionPrimary;
    }

    &::placeholder {
        color: $contentContrastSecondary;
    }

    &.search-input-contrast {
        border-color: $bgSurfaceLight2;
        color: $mutedPurple;

        &::placeholder {
            color: $mutedPurple;
        }
    }
}

.search-icon {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 10px);
    right: 12px;

    &.search-icon-contrast {
        path {
            stroke: $mutedPurple;
        }
    }
}
